@using EliteAthleteApp.Models.Admin;

@model AdminIndexVM

@{
	ViewData["Title"] = "Index";
	var errorMessage = TempData["ErrorMessage"] as string;
}

@if (!string.IsNullOrEmpty(errorMessage))
{
	<div class="alert alert-danger">
		@errorMessage
	</div>
}
<body>
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-12">
				<ul class="nav nav-tabs" id="actionPanelTabs" role="tablist">
					<li class="nav-item" role="presentation">
						<button class="nav-link sendEmailBtn" type="button" data-adminid="@Model.AdminId" aria-selected="false">
							<i class="bi bi-plus-square-fill">&nbsp;</i><strong>Send Global Email</strong>
						</button>
					</li>
					<li class="nav-item" role="presentation">
						<button data-adminid="@Model.AdminId" class="nav-link pauseBtn" type="button" aria-selected="false">
							<i class="bi bi-plus-square-fill">&nbsp;</i>
							<strong>Pause The Site</strong>
						</button>
					</li>
				</ul>
				<br />
			</div>
			<div class="col-md-12">
				<ul class="nav nav-tabs" id="adminPanelTabs" role="tablist">
					<li class="nav-item" role="presentation">
						<a class="nav-link active" id="userListTab" data-toggle="tab" data-adminid="@Model.AdminId" href="#userList" role="tab" aria-controls="userList" aria-selected="true">
							<i class="bi bi-person">&nbsp;</i>
							<strong>Users</strong>
						</a>
					</li>
					<li class="nav-item" role="presentation">
						<a class="nav-link" id="privateExerciseListTab" data-toggle="tab" data-adminid="@Model.AdminId" href="#privateExerciseList" role="tab" aria-controls="privateExerciseList" aria-selected="true">
							<i class="bi bi-person">&nbsp;</i>
							<strong>Exercises</strong>
						</a>
					</li>
					<li class="nav-item" role="presentation">
						<a class="nav-link" id="logListTab" data-toggle="tab" data-adminid="@Model.AdminId" href="#logList" role="tab" aria-controls="logList" aria-selected="true">
							<i class="bi bi-person">&nbsp;</i>
							<strong>Logs</strong>
						</a>
					</li>
				</ul>
				<br />
				<div class="tab-content" id="adminPanelTabsContent">
					<div class="tab-pane fade show active" id="userList" role="tabpanel" aria-labelledby="userListTab">
						<h1><span class="badge bg-black d-block w-100"><strong>Users</strong></span></h1>
					</div>
					<div class="tab-pane fade" id="privateExerciseList" role="tabpanel" aria-labelledby="privateExerciseListTab">
						<h1><span class="badge bg-black d-block w-100"><strong>Exercises</strong></span></h1>
					</div>
					<div class="tab-pane fade" id="logList" role="tabpanel" aria-labelledby="logListTab">
						<h1><span class="badge bg-black d-block w-100"><strong>Logs</strong></span></h1>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

<!-- MODAL FOR EXERCISE EDIT -->
<div class="modal fade" id="exerciseEditModal" tabindex="-1" role="dialog" aria-labelledby="exerciseEditModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h3 class="modal-title text-primary-decorative" id="exerciseCreateModalLabel">
					<strong>Edit Exercise</strong>
				</h3>
				<button type="button" class="close btn" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body" id="exerciseEditContent">
			</div>
		</div>
	</div>
</div>

<!-- MODAL FOR EXERCISE DETAILS -->
<div class="modal fade" id="exerciseDetailsModal" tabindex="-1" role="dialog" aria-labelledby="exerciseDetailsModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h3 class="modal-title text-primary-decorative" id="exerciseCreateModalLabel">
					<strong>Exercise Details</strong>
				</h3>
				<button type="button" class="close btn" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body" id="exerciseDetailsContent">
			</div>
		</div>
	</div>
</div>

<!-- MODAL FOR EXERCISE DELETE -->
<div class="modal fade" id="exerciseDeleteModal" tabindex="-1" role="dialog" aria-labelledby="exerciseDeleteModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h3 class="modal-title text-primary-decorative" id="exerciseCreateModalLabel">
					<strong>Remove Exercise</strong>
				</h3>
				<button type="button" class="close btn" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body" id="exerciseDeleteContent">
			</div>
		</div>
	</div>
</div>

<!-- MODAL FOR EXERCISE MEDIA EDIT -->
<div class="modal fade" id="exerciseEditMediaModal" tabindex="-1" role="dialog" aria-labelledby="exerciseEditMediaModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h3 class="modal-title text-primary-decorative" id="exerciseEditMediaModalLabel">
					<strong>Edit Exercise Media</strong>
				</h3>
				<button type="button" class="close btn" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body" id="exerciseEditMediaContent">
			</div>
		</div>
	</div>
</div>

<!-- MODAL FOR EXERCISE SET AS PUBLIC -->
<div class="modal fade" id="setExerciseAsPublicModal" tabindex="-1" role="dialog" aria-labelledby="setExerciseAsPublicModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h3 class="modal-title text-primary-decorative" id="setExerciseAsPublicModalLabel">
					<strong>Set Exercise As Public</strong>
				</h3>
				<button type="button" class="close btn" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body" id="setExerciseAsPublicContent">
			</div>
		</div>
	</div>
</div>


@section Scripts
{
	<script>
		$(function () {

			// DATATABLE INITIALIZE
			$('.table').DataTable();

			// SCRIPT TO HANDLE CLOSING MODALS
			$(document).on('click', '.close', function () {
				$(this).closest('.modal').modal('hide');
			});

			// HANDLE SWITCHING TABS
			$('#adminPanelTabs a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
				e.target // newly activated tab
				e.relatedTarget // previous tab
			});


			$('a[data-toggle="tab"]').on("shown.bs.tab", function (e) {
				$($.fn.dataTable.tables(true)).DataTable().fixedHeader.adjust();
			});

			// ********************************************************************TABS********************************************************************

			// SCRIPT TO HANDLE LOADING TAB AFTER OPENING INDEX
			var adminId = $('#userListTab').data("adminid");
			$.ajax({
				url: '@Url.Action("UserList", "Admin")',
				type: 'GET',
				data: { adminId: adminId },
				success: function (data) {
					$('#userList').html(data);
					$('.table').DataTable();
					$('#userListTab').tab('show');

				},
				error: function () {
					alert("An error occurred while loading 'user' content.");
				}
			});

			// SCRIPT FOR HANDLING USER LIST TAB
			$('#userListTab').on('click', function (e) {
				e.preventDefault();

				var adminId = $('#userListTab').data("adminid");

				$.ajax({
					url: '@Url.Action("UserList", "Admin")',
					type: 'GET',
					data: { adminId: adminId },
					success: function (data) {
						$('#userList').html(data);
						$('.table').DataTable();
						$('#userListTab').tab('show');

					},
					error: function () {
						alert("An error occurred while loading 'userList' content.");
					}
				});
			});

			// SCRIPT FOR HANDLING LOGS LIST TAB
			$('#privateExerciseListTab').on('click', function (e) {
				e.preventDefault();

				var adminId = $('#privateExerciseListTab').data("adminid");

				$.ajax({
					url: '@Url.Action("ExerciseAdmin", "TrainingExercises")',
					type: 'GET',
					data: { adminId: adminId },
					success: function (data) {
						$('#privateExerciseList').html(data);
						$('.table').DataTable();
						$('#privateExerciseListTab').tab('show');

					},
					error: function () {
						alert("An error occurred while loading 'privateExerciseList' content.");
					}
				});
			});

			// SCRIPT FOR HANDLING LOGS LIST TAB
			$('#logList').on('click', function (e) {
				e.preventDefault();

				var adminId = $('#logListTab').data("adminid");

				$.ajax({
					url: '@Url.Action("Logs", "Admin")',
					type: 'GET',
					data: { adminId: adminId },
					success: function (data) {
						$('#logList').html(data);
						$('.table').DataTable();
						$('#logListTab').tab('show');

					},
					error: function () {
						alert("An error occurred while loading 'log' content.");
					}
				});
			});

			// ********************************************************************MODALS********************************************************************

			// AJAX FOR LOADING EXERCISE DELETE MODAL
			$(document).on('click', '.deleteExerciseBtn', function (e) {
				e.preventDefault();

				var id = $(this).data("deleteexerciseid");
				$.ajax({
					url: '@Url.Action("Delete", "TrainingExercises")',
					type: 'GET',
					data: { id: id },
					success: function (data) {
						$('#exerciseDeleteContent').html(data);
						$('#exerciseDeleteModal').modal('show');
					},
					error: function () {
						alert("An error occurred while loading the exercise delete modal.");
					}
				});
			});

			// AJAX FOR LOADING EXERCISE DETAILS MODAL
			$(document).on('click', '.detailsExerciseBtn', function (e) {
				e.preventDefault();

				var id = $(this).data("detailsexerciseid");
				$.ajax({
					url: '@Url.Action("Details", "TrainingExercises")',
					type: 'GET',
					data: { id: id },
					success: function (data) {
						$('#exerciseDetailsContent').html(data);
						$('#exerciseDetailsModal').modal('show');
					},
					error: function () {
						alert("An error occurred while loading the exercise details modal.");
					}
				});
			});

			// AJAX FOR LOADING EXERCISE EDIT MODAL
			$(document).on('click', '.editExerciseBtn', function (e) {
				e.preventDefault();

				var id = $(this).data("editexerciseid");
				$.ajax({
					url: '@Url.Action("Edit", "TrainingExercises")',
					type: 'GET',
					data: { id: id },
					success: function (data) {
						$('#exerciseEditContent').html(data);
						$('#exerciseEditModal').modal('show');
					},
					error: function () {
						alert("An error occurred while loading the exercise edit modal.");
					}
				});
			});

			// AJAX FOR LOADING EXERCISE EDIT MEDIA MODAL
			$(document).on('click', '.editMediaBtn', function (e) {
				e.preventDefault();

				var exerciseMediaId = $(this).data("exercisemediaid");
				$.ajax({
					url: '@Url.Action("EditMedia", "TrainingExerciseMedias")',
					type: 'GET',
					data: { exerciseMediaId, exerciseMediaId },
					success: function (data) {
						$('#exerciseEditMediaContent').html(data);
						$('#exerciseEditMediaModal').modal('show');
					},
					error: function () {
						alert("An error occurred while loading the exercise edit Media modal.");
					}
				});
			});

			// AJAX FOR LOADING EXERCISE ACCEPT MODAL
			$(document).on('click', '.acceptExerciseBtn', function (e) {
				e.preventDefault();

				var trainingExerciseId = $(this).data("acceptexerciseid");
				$.ajax({
					url: '@Url.Action("ExerciseAsPublic", "TrainingExercises")',
					type: 'GET',
					data: { trainingExerciseId: trainingExerciseId },
					success: function (data) {
						$('#setExerciseAsPublicContent').html(data);
						$('#setExerciseAsPublicModal').modal('show');
					},
					error: function () {
						alert("An error occurred while loading the setExerciseAsPublic modal.");
					}
				});
			});

			$(document).ready(function () {
				// Function to preview image files
				$(document).on('change', 'input[type="file"][name="imageUpload"]', function () {
					var index = $(this).data("index");
					if (this.files && this.files[0]) {
						var reader = new FileReader();
						reader.onload = function (e) {
							$('#previewImg_' + index)
								.attr('src', e.target.result)
								.removeClass('d-none');
						};
						reader.readAsDataURL(this.files[0]);
					}
				});

				// Function to preview video files
				$(document).on('change', 'input[type="file"][name="videoUpload"]', function () {
					if (this.files && this.files[0]) {
						var reader = new FileReader();
						reader.onload = function (e) {
							$('#previewVideo')
								.attr('src', e.target.result)
								.removeClass('d-none');
						};
						reader.readAsDataURL(this.files[0]);
					}
				});
			})
		});
	</script>
}
