@* @using TrainingPlanApp.Web.Constants
@model DietIndexVM

@{
	ViewData["Title"] = "Details";
}

<h1>@Model.Name</h1>

<table class="table">
	<thead>
		<tr>
			<th></th>
			<th class="text-center">
				<a asp-action="MealDetails" class="w-100 btn btn-lg btn-sm btn-primary" asp-controller="Diets" asp-route-mealId="@Model.BreakfastId" asp-route-dietId="@Model.Id">
					@Html.DisplayNameFor(model => model.Breakfast)
					<i class="fa-solid fa-circle-info"></i>
				</a>
			</th>
			<th class="text-center">
				<a asp-action="MealDetails" class="w-100 btn btn-lg btn-sm btn-primary" asp-controller="Diets" asp-route-mealId="@Model.SecondBreakfastId" asp-route-tdietId="@Model.Id">
					@Html.DisplayNameFor(model => model.SecondBreakfast)
					<i class="fa-solid fa-circle-info"></i>
				</a>
			</th>
			<th class="text-center">
				<a asp-action="MealDetails" class="w-100 btn btn-lg btn-sm btn-primary" asp-controller="Diets" asp-route-mealId="@Model.LunchId" asp-route-dietId="@Model.Id">
					@Html.DisplayNameFor(model => model.Lunch)
					<i class="fa-solid fa-circle-info"></i>
				</a>
			</th>
			<th class="text-center">
				<a asp-action="MealDetails" class="w-100 btn btn-lg btn-sm btn-primary" asp-controller="Diets" asp-route-mealId="@Model.SnackId" asp-route-dietId="@Model.Id">
					@Html.DisplayNameFor(model => model.Snack)
					<i class="fa-solid fa-circle-info"></i>
				</a>
			</th>
			<th class="text-center">
				<a asp-action="MealDetails" class="w-100 btn btn-lg btn-sm btn-primary" asp-controller="Diets" asp-route-mealId="@Model.DinnerId" asp-route-dietId="@Model.Id">
					@Html.DisplayNameFor(model => model.Dinner)
					<i class="fa-solid fa-circle-info"></i>
				</a>
			</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th class="text-left">
				Meal
			</th>
			<td class="text-center">
				@Html.DisplayFor(model => model.Breakfast.Name)
			</td>
			<td class="text-center">
				@Html.DisplayFor(model => model.SecondBreakfast.Name)
			</td>
			<td class="text-center">
				@Html.DisplayFor(model => model.Lunch.Name)
			</td>
			<td class="text-center">
				@Html.DisplayFor(model => model.Snack.Name)
			</td>
			<td class="text-center">
				@Html.DisplayFor(model => model.Dinner.Name)
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<th class="text-left">
				Description
			</th>
			<td class="text-center" colspan="4">
				@Html.DisplayFor(model => model.Description)
			</td>
		</tr>
	</tbody>
</table>

<div>
	@if (Model.RedirectToAdmin)
	{
		<a asp-action="IndexAdmin" class="btn btn-secondary">Back to List</a>
	}
	else if (!Model.RedirectToAdmin)
	{
		<a asp-action="Index" class="btn btn-secondary" asp-route-id="@Model.UserId">Back to List</a>
	}
	else
	{
		<a asp-action="IndexAdmin" class="btn btn-secondary">Back to List</a>
	}
	@if (User.IsInRole(Roles.Administrator))
	{
		<a asp-action="Edit" class="btn btn-primary" asp-route-id="@Model?.Id">Edit</a>
	}
</div>

@section Scripts
{
	<script>
		$(function () {
			$('.table').DataTable();
		});
	</script>
}  *@