@using TrainingPlanApp.Web.Constants
@using TrainingPlanApp.Web.Models.TrainingModule

@model TrainingModuleIndexVM


@{
	ViewData["Title"] = "Index";
	var errorMessage = TempData["ErrorMessage"] as string;
}


<p>
	@if (User.IsInRole(Roles.Administrator))
	{
		<button class="btn btn-primary btn-sm createBtn" type="button"><i class="fa-solid fa-plus">&nbsp;</i>Create New</button>
	}


</p>

@if (!string.IsNullOrEmpty(errorMessage))
{
	<div class="alert alert-danger">
		@errorMessage
	</div>
}

<div class="container">
	<div class="row">
		<div class="col-md-7">
			<h1>Training Modules</h1>
			<table class="table">
				<thead>
					<tr>
						<th>
							@Html.DisplayNameFor(model => model.TrainingModuleVMs.First().Name)
						</th>
						<th>
							@Html.DisplayNameFor(model => model.TrainingModuleVMs.First().StartDate)
						</th>
						<th>
							@Html.DisplayNameFor(model => model.TrainingModuleVMs.First().EndDate)
						</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					@foreach (var item in Model.TrainingModuleVMs)
					{
						<tr>
							<td>
								@Html.DisplayFor(modelItem => item.Name)
							</td>
							<td>
								@Html.DisplayFor(modelItem => item.StartDate)
							</td>
							<td>
								@Html.DisplayFor(modelItem => item.EndDate)
							</td>
							<td>
								<a asp-action="Index" asp-controller="TrainingPlans" class="btn btn-secondary btn-sm" asp-route-userId="@item.UserId" asp-route-trainingModuleId="@item.Id"><i class="fa-solid fa-pen-to-square">&nbsp;</i>Plan</a>

								<button data-trainingmoduleid="@item.Id"
										data-name="@item.Name"
										data-startdate="@item.StartDate"
										data-enddate="@item.EndDate"
										class="btn btn-secondary btn-sm editBtn" type="button">
									<i class="fa-solid fa-pen-to-square">&nbsp;</i>Edit
								</button>

								<button data-trainingmoduleid="@item.Id" data-name="@item.Name" class="btn btn-danger btn-sm deleteBtn" type="button"><i class="fa-solid fa-trash">&nbsp;</i>Delete</button>
							</td>
						</tr>
					}
				</tbody>
			</table>
		</div>
		<div class="col-md-5">
			<h1>
				ORMs &nbsp;
				@if (Model.TrainingModuleORMVM.Id == null)
				{
					<button data-createormuserid="@Model.TrainingModuleORMVM.UserId"
							data-createormdatetime="@Model.TrainingModuleORMVM.DateTime"
							class="btn btn-primary btn-sm createOrmBtn" type="button">
						<i class="fa-solid fa-plus">&nbsp;</i>ORMs
					</button>
				}
			</h1>
			<table class="table">
				<thead>
					<tr>
						<th>
							@Html.DisplayNameFor(model => model.TrainingModuleORMVMs.First().DateTime)
						</th>
						<th>
							@Html.DisplayNameFor(model => model.TrainingModuleORMVMs.First().BenchPressORM)
						</th>
						<th>
							@Html.DisplayNameFor(model => model.TrainingModuleORMVMs.First().OverheadPressORM)
						</th>
						<th>
							@Html.DisplayNameFor(model => model.TrainingModuleORMVMs.First().SquatORM)
						</th>
						<th>
							@Html.DisplayNameFor(model => model.TrainingModuleORMVMs.First().DeadliftORM)
						</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var item in Model.TrainingModuleORMVMs)
					{
						<tr>
							<td>
								@Html.DisplayFor(modelItem => item.DateTime)
							</td>
							<td>
								@Html.DisplayFor(modelItem => item.BenchPressORM)
							</td>
							<td>
								@Html.DisplayFor(modelItem => item.OverheadPressORM)
							</td>
							<td>
								@Html.DisplayFor(modelItem => item.SquatORM)
							</td>
							<td>
								@Html.DisplayFor(modelItem => item.DeadliftORM)
							</td>
						</tr>
					}
				</tbody>
			</table>
		</div>
	</div>
</div>




<!-- MODAL FOR TRAINING MODULE CREATE -->
<div class="modal fade" id="createTrainingModuleModal" tabindex="-1" role="dialog" aria-labelledby="createTrainingModuleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="createTrainingModuleModalLabel">Create New Training Module</h5>
				<button type="button" class="close btn btn-dark" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form id="createForm" asp-action="Create" method="post">
					<input type="hidden" name="TrainingModuleCreateVM.CoachId" value="@Model.CoachId" />
					<input type="hidden" name="TrainingModuleCreateVM.UserId" value="@Model.UserId" />
					<div class="form-group">
						<label asp-for="TrainingModuleCreateVM.Name" class="control-label"></label>
						<input asp-for="TrainingModuleCreateVM.Name" class="form-control" />
						<span asp-validation-for="TrainingModuleCreateVM.Name" class="text-danger"></span>
					</div>
					<div class="form-group col-md-12">
						<label asp-for="TrainingModuleCreateVM.StartDate" class="control-label"></label>
						<input asp-for="TrainingModuleCreateVM.StartDate" class="form-control" />
						<span asp-validation-for="TrainingModuleCreateVM.StartDate" class="text-danger"></span>
					</div>
					<div class="form-group col-md-12">
						<label asp-for="TrainingModuleCreateVM.EndDate" class="control-label"></label>
						<input asp-for="TrainingModuleCreateVM.EndDate" class="form-control" />
						<span asp-validation-for="TrainingModuleCreateVM.EndDate" class="text-danger"></span>
					</div>
					<div class="form-group">
						<button type="submit" class="btn btn-primary" id="submitCreateForm">Create</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

<!-- MODAL FOR TRAINING MODULE EDIT -->
<div class="modal fade" id="editTrainingModuleModal" tabindex="-1" role="dialog" aria-labelledby="editTrainingModuleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="editTrainingModuleModalLabel">Edit Training Module</h5>
				<button type="button" class="close btn btn-dark" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form id="editForm" asp-action="Edit" method="post">
					<input type="hidden" id="trainingModuleId" name="TrainingModuleCreateVM.Id" />
					<input type="hidden" name="TrainingModuleCreateVM.CoachId" value="@Model.CoachId" />
					<input type="hidden" name="TrainingModuleCreateVM.UserId" value="@Model.UserId" />
					<div class="form-group">
						<label asp-for="TrainingModuleCreateVM.Name" class="control-label"></label>
						<input id="name" class="form-control" name="TrainingModuleCreateVM.Name" />
						<span asp-validation-for="TrainingModuleCreateVM.Name" class="text-danger"></span>
					</div>
					<div class="form-group">
						<label asp-for="TrainingModuleCreateVM.StartDate" class="control-label"></label>
						<input asp-for="TrainingModuleCreateVM.StartDate" class="form-control" />
						<span asp-validation-for="TrainingModuleCreateVM.StartDate" class="text-danger"></span>
					</div>
					<div class="form-group">
						<label asp-for="TrainingModuleCreateVM.EndDate" class="control-label"></label>
						<input asp-for="TrainingModuleCreateVM.EndDate" class="form-control" />
						<span asp-validation-for="TrainingModuleCreateVM.EndDate" class="text-danger"></span>
					</div>
					<div class="form-group">
						<button type="submit" class="btn btn-primary" id="submitEditForm">Save</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

<!-- MODAL FOR TRAINING MODULE DELETE -->
<div class="modal fade" id="deleteTrainingModuleModal" tabindex="-1" role="dialog" aria-labelledby="deleteTrainingModuleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="deleteTrainingModuleModalLabel">Delete Training Module</h5>
				<button type="button" class="close btn btn-dark" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form id="deleteForm" asp-action="Delete">
					<input type="hidden" id="Id" name="Id" />
					<input type="hidden" name="userId" value="@Model.UserId" />
					<p>Are you sure you want to delete this training module?</p>
					<h5 id="trainingModuleNameToDelete"></h5>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" id="confirmDeleteBtn">Delete</button>
			</div>
		</div>
	</div>
</div>

<!-- MODAL FOR ORM CREATE -->
<div class="modal fade" id="createOrmModal" tabindex="-1" role="dialog" aria-labelledby="createOrmModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="createOrmModalLabel">Create New ORM</h5>
				<button type="button" class="close btn btn-dark" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form id="createForm" asp-action="CreateORM" method="post">
					<input type="hidden" name="TrainingModuleORMVM.DateTime" id="createOrmDateTime" />
					<input type="hidden" name="TrainingModuleORMVM.UserId" value="@Model.UserId" />
					<div class="container">
						<div class="row">
							<div class="col-md-3 form-group">
								<label asp-for="TrainingModuleORMVM.BenchPressORM" class="control-label"></label>
								<input asp-for="TrainingModuleORMVM.BenchPressORM" class="form-control" />
								<span asp-validation-for="TrainingModuleORMVM.BenchPressORM" class="text-danger"></span>
							</div>
							<div class="col-md-3 form-group">
								<label asp-for="TrainingModuleORMVM.OverheadPressORM" class="control-label"></label>
								<input asp-for="TrainingModuleORMVM.OverheadPressORM" class="form-control" />
								<span asp-validation-for="TrainingModuleORMVM.OverheadPressORM" class="text-danger"></span>
							</div>
							<div class="col-md-3 form-group">
								<label asp-for="TrainingModuleORMVM.SquatORM" class="control-label"></label>
								<input asp-for="TrainingModuleORMVM.SquatORM" class="form-control" />
								<span asp-validation-for="TrainingModuleORMVM.SquatORM" class="text-danger"></span>
							</div>
							<div class="col-md-3 form-group">
								<label asp-for="TrainingModuleORMVM.DeadliftORM" class="control-label"></label>
								<input asp-for="TrainingModuleORMVM.DeadliftORM" class="form-control" />
								<span asp-validation-for="TrainingModuleORMVM.DeadliftORM" class="text-danger"></span>
							</div>
						</div>
					</div>
					<div class="form-group">
						<button type="submit" class="btn btn-primary" id="submitCreateForm">Create</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

@section Scripts
{
	<script>
		$(function () {
			// DATATABLE INITIALIZE
			$('.table').DataTable();

			// SCRIPT TO HANDLE CLOSING MODALS
			$(document).on('click', '.close', function () {
				$(this).closest('.modal').modal('hide');
			});

			// SCRIPT TO HANDLE CREATING TRAINING MODULES
			$(document).on('click', '.createBtn', function () {
				$('#createTrainingModuleModal').modal('show');
			});

			// SCRIPT TO HANDLE CREATING ORMS
			$(document).on('click', '.createOrmBtn', function () {
				var btn = $(this);
				var createOrmUserId = btn.data("createormuserid");
				var createOrmDateTime = btn.data("createormdatetime")

				$('#createOrmUserId').val(createOrmUserId);
				$('#createOrmDateTime').val(createOrmDateTime);

				$('#createOrmModal').modal('show');
			});

			// SCRIPT TO HANDLE EDITING TRAINING MODULE
			$(document).on('click', '.editBtn', function () {
				var btn = $(this);
				var trainingModuleId = btn.data("trainingmoduleid");
				var name = btn.data("name");
				var startDate = btn.data("startdate");
				var endDate = btn.data("enddate");

				$('#trainingModuleId').val(trainingModuleId);
				$('#name').val(name);
				$('#startDate').val(startDate);
				$('#endDate').val(endDate);

				$('#editTrainingModuleModal').modal('show');
			});

			// SCRIPT TO HANDLE DELETING TRAINING MODULE
			$(document).on('click', '.deleteBtn', function () {
				var btn = $(this);
				var trainingModuleId = btn.data("trainingmoduleid");
				var name = btn.data("name");

				$('#Id').val(trainingModuleId);
				$('#trainingModuleNameToDelete').text(name);

				$('#deleteTrainingModuleModal').modal('show');
			});

			// SCRIPT TO HANDLE DELETING TRAINING MODULE
			$(document).on('click', '#confirmDeleteBtn', function () {
				$('#deleteForm').submit();
			});

		});
	</script>
}