@using EliteAthleteApp.Constants
@using EliteAthleteApp.Models.TrainingModule

@model TrainingModuleIndexVM


@{
	ViewData["Title"] = "Index";
	var errorMessage = TempData["ErrorMessage"] as string;
}


@if (!string.IsNullOrEmpty(errorMessage))
{
	<div class="alert alert-danger">
		@errorMessage
	</div>
}
<body>

<div class="container">
	<div class="row justify-content-center">
		<div class="col-md-12">
			<ul class="nav nav-tabs" id="trainingModuleTabs" role="tablist">
				<li class="nav-item" role="presentation">
					<a class="nav-link active" id="trainingModuleTab" data-toggle="tab" data-userid="@Model.UserId" href="#trainingModule" role="tab" aria-controls="trainingModule" aria-selected="true">
						<i class="bi bi-person">&nbsp;</i>
						<strong>My Training Modules</strong>
					</a>
				</li>
				<li class="nav-item" role="presentation">
						<a class="nav-link" id="ormTab" data-toggle="tab" data-userid="@Model.UserId" href="#orm" role="tab" aria-controls="orm" aria-selected="true">
						<i class="bi bi-person">&nbsp;</i>
						<strong>My ORMs</strong>
					</a>
				</li>
				<li class="nav-item ms-auto" role="presentation">
					<button class="nav-link createBtn" type="button" id="createTab" data-userid="@Model.UserId" data-coachid="@Model.CoachId" aria-controls="createTab" aria-selected="false">
						<i class="bi bi-plus-square-fill">&nbsp;</i><strong>Create New Training Module</strong>
					</button>
				</li>
				@if (User.IsInRole(Roles.Administrator))
				{
					<li class="nav-item" role="presentation">
							<button data-userid="@Model.UserId"
								class="nav-link createOrmBtn" type="button" id="createOrmTab" aria-controls="createOrmTab" aria-selected="false">
							<i class="bi bi-plus-square-fill">&nbsp;</i>
							<strong>Add New ORM</strong>
						</button>
					</li>
				}
			</ul>
			<br />
			<div class="tab-content" id="trainingModuleTabsContent">
				<div class="tab-pane fade show active" id="trainingModule" role="tabpanel" aria-labelledby="trainingModuleTab" >
					<h1><span class="badge bg-black d-block w-100"><strong>Training Modules</strong></span></h1>
					
				</div>
				<div class="tab-pane fade" id="orm" role="tabpanel" aria-labelledby="ormTab">
					<h1><span class="badge bg-black d-block w-100"><strong>My ORMs (One-Rep Max)</strong></span></h1>
				</div>
			</div>
		</div>
	</div>
	</div>
</body>

<!-- MODAL FOR TRAINING MODULE CREATE -->
<div class="modal fade" id="trainingModuleCreateModal" tabindex="-1" role="dialog" aria-labelledby="trainingModuleCreateModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h3 class="modal-title w-100" id="trainingModuleCreateModalLabel">
					<span class="badge bg-dark d-flex justify-content-between align-items-center w-100">
						<strong>Create New Training Module</strong>
						<button type="button" class="close btn text-white" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</span>
				</h3>
			</div>
			<div class="modal-body" id="trainingModuleCreateContent">
			</div>
		</div>
	</div>
</div>

<!-- MODAL FOR TRAINING MODULE EDIT -->
<div class="modal fade" id="trainingModuleEditModal" tabindex="-1" role="dialog" aria-labelledby="trainingModuleEditModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h3 class="modal-title w-100" id="trainingModuleEditModalLabel">
				<span class="badge bg-dark d-flex justify-content-between align-items-center w-100">
					<strong>Edit Training Module</strong>
					<button type="button" class="close btn text-white" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</span>
			</h3>
			</div>
			<div class="modal-body" id="trainingModuleEditContent">
			</div>
		</div>
	</div>
</div>

<!-- MODAL FOR TRAINING MODULE DELETE -->
<div class="modal fade" id="trainingModuleDeleteModal" tabindex="-1" role="dialog" aria-labelledby="trainingModuleDeleteModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h3 class="modal-title w-100" id="trainingModuleDeleteModalLabel">
					<span class="badge bg-dark d-flex justify-content-between align-items-center w-100">
						<strong>Delete Training Module</strong>
						<button type="button" class="close btn text-white" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</span>
				</h3>
			</div>
			<div class="modal-body" id="trainingModuleDeleteContent">
			</div>
		</div>
	</div>
</div>

<!-- MODAL FOR ORM CREATE -->
<div class="modal fade" id="ormCreateModal" tabindex="-1" role="dialog" aria-labelledby="ormCreateModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h3 class="modal-title w-100" id="ormCreateModalLabel">
					<span class="badge bg-dark d-flex justify-content-between align-items-center w-100">
						<strong>Create New ORM (One-Rep Max)</strong>
						<button type="button" class="close btn text-white" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</span>
				</h3>
			</div>
			<div class="modal-body" id="ormCreateContent">
			</div>
		</div>
	</div>
</div>

@section Scripts
{
	<script>
		$(function () {

			// DATATABLE INITIALIZE
			$('.table').DataTable();

			// SCRIPT TO HANDLE CLOSING MODALS
			$(document).on('click', '.close', function () {
				$(this).closest('.modal').modal('hide');
			});

			// Handle tab switch with Bootstrap Tabs
			$('#trainingModuleTabs a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
				e.target // newly activated tab
				e.relatedTarget // previous tab
			});

			$('a[data-toggle="tab"]').on("shown.bs.tab", function (e) {
				$($.fn.dataTable.tables(true)).DataTable().fixedHeader.adjust();
			});
			
			// Ładowanie zawartości dla "exercisePrivate" po załadowaniu strony
			var userId = $('#trainingModuleTab').data("userid"); // Pobranie coachId z atrybutu data
			$.ajax({
				url: '@Url.Action("List", "TrainingModules")',
				type: 'GET',
				data: { userId: userId },
				success: function (data) {
					$('#trainingModule').html(data);
					$('.table').DataTable();
					$('#trainingModuleTab').tab('show');

				},
				error: function () {
					alert("An error occurred while loading 'trainingModule' content.");
				}
			});

			// Handle tab click for "exercisePrivate" tab
			$('#trainingModuleTab').on('click', function (e) {
				e.preventDefault();

				// Pobranie coachId z atrybutu data
				var userId = $(this).data("userid");

				$.ajax({
					url: '@Url.Action("List", "TrainingModules")',
					type: 'GET',
					data: { userId: userId },
					success: function (data) {
						$('#trainingModule').html(data);
						$('.table').DataTable();
						$('#trainingModuleTab').tab('show');

					},
					error: function () {
						alert("An error occurred while loading 'trainingModule' content.");
					}
				});
			});

			// Handle tab click for "exercisePrivate" tab
			$('#ormTab').on('click', function (e) {
				e.preventDefault();

				// Pobranie coachId z atrybutu data
				var userId = $(this).data("userid");

				$.ajax({
					url: '@Url.Action("List", "TrainingOrms")',
					type: 'GET',
					data: { userId: userId },
					success: function (data) {
						$('#orm').html(data);
						$('.table').DataTable();
						$('#ormTab').tab('show');

					},
					error: function () {
						alert("An error occurred while loading 'orm' content.");
					}
				});
			});

			// AJAX FOR LOADING EXERCISE DELETE MODAL
			$(document).on('click', '.createBtn', function (e) {
				e.preventDefault();

				var userId = $(this).data("userid");
				var coachId = $(this).data("coachid");
				$.ajax({
					url: '@Url.Action("Create", "TrainingModules")',
					type: 'GET',
					data: { userId: userId, coachId: coachId },
					success: function (data) {
						$('#trainingModuleCreateContent').html(data);
						$('#trainingModuleCreateModal').modal('show');
					},
					error: function () {
						alert("An error occurred while loading the trainingModuleCreate modal.");
					}
				});
			});

			// AJAX FOR LOADING EXERCISE DELETE MODAL
			$(document).on('click', '.editBtn', function (e) {
				e.preventDefault();

				var trainingModuleId = $(this).data("trainingmoduleid");
				$.ajax({
					url: '@Url.Action("Edit", "TrainingModules")',
					type: 'GET',
					data: { trainingModuleId: trainingModuleId },
					success: function (data) {
						$('#trainingModuleEditContent').html(data);
						$('#trainingModuleEditModal').modal('show');
					},
					error: function () {
						alert("An error occurred while loading the trainingModuleCreate modal.");
					}
				});
			});

			// AJAX FOR LOADING EXERCISE DELETE MODAL
			$(document).on('click', '.deleteBtn', function (e) {
				e.preventDefault();

				var trainingModuleId = $(this).data("trainingmoduleid");
				$.ajax({
					url: '@Url.Action("Delete", "TrainingModules")',
					type: 'GET',
					data: { trainingModuleId: trainingModuleId},
					success: function (data) {
						$('#trainingModuleDeleteContent').html(data);
						$('#trainingModuleDeleteModal').modal('show');
					},
					error: function () {
						alert("An error occurred while loading the trainingModuleDelete modal.");
					}
				});
			});

			// AJAX FOR LOADING EXERCISE DELETE MODAL
			$(document).on('click', '.createOrmBtn', function (e) {
				e.preventDefault();

				var userId = $(this).data("userid");
				$.ajax({
					url: '@Url.Action("Create", "TrainingOrms")',
					type: 'GET',
					data: { userId: userId },
					success: function (data) {
						$('#ormCreateContent').html(data);
						$('#ormCreateModal').modal('show');
					},
					error: function () {
						alert("An error occurred while loading the ormcreate modal.");
					}
				});
			});
		});
	</script>
}