@using TrainingPlanApp.Web.Models.Exercise

@model ExerciseVM

@{
	ViewData["Title"] = "Details";
}


<h4>@Model.Name</h4>
@{
	var mainVideoUrl = Model.VideoLink;
	var mainVideoId = mainVideoUrl.Split(new[] { "v=" }, StringSplitOptions.None)[1];
	var mainEmbedUrl = "https://www.youtube.com/embed/" + mainVideoId;
}
<iframe width="765" height="430" src="@mainEmbedUrl" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<strong>Description:</strong><p>@Model.Description</p>
<strong>Category:</strong> <p>@Model.ExerciseCategory.Name</p>
<strong>Muscle Group:</strong> <p>@Model.ExerciseMuscleGroup.Name</p>