@using TrainingPlanApp.Web.Models.Exercise

@model ExerciseIndexVM

@{
	ViewData["Title"] = "Index";
	var errorMessage = TempData["ErrorMessage"] as string;
}

<div class="container">
	<div class="row justify-content-center">
		<div class="col-md-12">
			<ul class="nav nav-tabs" id="exerciseTabs" role="tablist">
				<li class="nav-item" role="presentation">
					<a class="nav-link active" id="my-exercises-tab" data-toggle="tab" href="#my-exercises" role="tab" aria-controls="my-exercises" aria-selected="true">
						<i class="bi bi-person">&nbsp;</i><strong>My Exercises</strong>
					</a>
				</li>
				<li class="nav-item" role="presentation">
					<a class="nav-link" id="all-exercises-tab" data-toggle="tab" href="#all-exercises" role="tab" aria-controls="all-exercises" aria-selected="false">
						<i class="bi bi-people">&nbsp;</i><strong>All Exercises</strong>
					</a>
				</li>
				<li class="nav-item ms-auto" role="presentation">
					<button class="nav-link createBtn" type="button" id="create-new-tab" aria-controls="all-exercises" aria-selected="false">
						<i class="bi bi-plus-square-fill">&nbsp;</i><strong>Create New</strong>
					</button>
				</li>
			</ul>
			<br />
			<div class="tab-content" id="exerciseTabsContent">
				<div class="tab-pane fade show active" id="my-exercises" role="tabpanel" aria-labelledby="my-exercises-tab">
					<h1><span class="badge bg-black d-block w-100"><strong>My Exercises</strong></span></h1>
					@if (!string.IsNullOrEmpty(errorMessage))
					{
						<div class="alert alert-danger">
							@errorMessage
						</div>
					}
					<table class="table">
						<thead>
							<tr>
								<th style="width:50%">
									<strong>@Html.DisplayNameFor(model => model.ExerciseVMs.First().Name)</strong>
								</th>
								<th style="width:20%">
									<strong>@Html.DisplayNameFor(model => model.ExerciseVMs.First().ExerciseCategory.Name)</strong>
								</th>
								<th style="width:20%">
									<strong>@Html.DisplayNameFor(model => model.ExerciseVMs.First().ExerciseMuscleGroup.Name)</strong>
								</th>
								<th style="width:10%"></th>
							</tr>
						</thead>
						<tbody>
							@foreach (var item in Model.ExerciseVMs)
							{
								if (item.CoachId == Model.CoachId)
								{
									<tr>
										<td>
											@Html.DisplayFor(modelItem => item.Name)
										</td>
										<td>
											@Html.DisplayFor(modelItem => item.ExerciseCategory.Name)
										</td>
										<td>
											@Html.DisplayFor(modelItem => item.ExerciseMuscleGroup.Name)
										</td>
										<td class="text-end">
											<div class="dropdown">
												<button class="btn btn-outline-info btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
													<strong>Actions</strong>
												</button>
												<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
													<li>
														<button data-editexerciseid="@item.Id"
																data-editexercisecategoryid="@item.ExerciseCategory.Id"
																data-editexercisemusclegroupid="@item.ExerciseMuscleGroup.Id"
																data-editexercisecoachid="@Model.CoachId"
																data-editexercisename="@item.Name"
																data-editexercisedescription="@item.Description"
																data-editexercisevideolink="@item.VideoLink"
																data-editexercisesetaspublic="@item.SetAsPublic"
																class="dropdown-item editBtn">
															<i class="bi bi-pencil">&nbsp;</i>Edit
														</button>
													</li>
													<li>
														<button data-detailsexerciseid="@item.Id"
																class="dropdown-item detailsBtn">
															<i class="bi bi-question-circle">&nbsp;</i>Details
														</button>
													</li>
													<li>
														<button data-deleteexerciseid="@item.Id"
																class="dropdown-item deleteBtn">
															<i class="bi bi-trash">&nbsp;</i>Delete
														</button>
													</li>
												</ul>
											</div>
										</td>
									</tr>
								}
							}
						</tbody>
					</table>
				</div>

				<div class="tab-pane fade" id="all-exercises" role="tabpanel" aria-labelledby="all-exercises-tab">
					<h1><span class="badge bg-black d-block w-100"><strong>All Exercises</strong></span></h1>
					<table class="table" style="width:100%">
						<thead>
							<tr>
								<th style="width:50%">
									@Html.DisplayNameFor(model => model.ExerciseVMs.First().Name)
								</th>
								<th style="width:20%">
									@Html.DisplayNameFor(model => model.ExerciseVMs.First().ExerciseCategory.Name)
								</th>
								<th style="width:20%">
									@Html.DisplayNameFor(model => model.ExerciseVMs.First().ExerciseMuscleGroup.Name)
								</th>
								<th style="width:10%"></th>
							</tr>
						</thead>
						<tbody>
							@foreach (var item in Model.ExerciseVMs)
							{
								if (item.CoachId == null)
								{
									<tr>
										<td>
											@Html.DisplayFor(modelItem => item.Name)
										</td>
										<td>
											@Html.DisplayFor(modelItem => item.ExerciseCategory.Name)
										</td>
										<td>
											@Html.DisplayFor(modelItem => item.ExerciseMuscleGroup.Name)
										</td>
										<td class="text-end">
											<div class="dropdown">
												<button class="btn btn-outline-info btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
													<strong>Actions</strong>
												</button>
												<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
													<li>
														<button data-detailsexercisename="@item.Name"
																data-detailsexercisevideolink="@item.VideoLink"
																data-detailsexercisedescription="@item.Description"
																data-detailsexercisecategoryname="@item.ExerciseCategory.Name"
																data-detailsexercisemusclegroupname="@item.ExerciseMuscleGroup.Name"
																class="dropdown-item detailsBtn">
															<i class="bi bi-question-circle">&nbsp;</i>Details
														</button>
													</li>
												</ul>
											</div>
										</td>
									</tr>
								}
							}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>


<!-- MODAL FOR EXERCISE CREATE -->
<div class="modal fade" id="exerciseCreateModal" tabindex="-1" role="dialog" aria-labelledby="exerciseCreateModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h3 class="modal-title w-100" id="exerciseCreateModalLabel">
					<span class="badge bg-dark d-flex justify-content-between align-items-center w-100">
						<strong>Create New Exercise</strong>
						<button type="button" class="close btn text-white" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</span>
				</h3>
			</div>
			<div class="modal-body" id="exerciseCreateContent">
			</div>
		</div>
	</div>
</div>

<!-- MODAL FOR EXERCISE EDIT -->
@* <div class="modal fade" id="editExerciseModal" tabindex="-1" role="dialog" aria-labelledby="editExerciseModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h3 class="modal-title w-100" id="editExerciseModalLabel">
					<span class="badge bg-dark d-flex justify-content-between align-items-center w-100">
						<strong>Edit Exercise</strong>
						<button type="button" class="close btn text-white" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</span>
				</h3>
			</div>
			<div class="modal-body">
				<form id="editForm" asp-action="Edit" method="post">
					<input type="hidden" id="editExerciseId" name="ExerciseCreateVM.Id" />
					<input type="hidden" id="editExerciseCoachId" name="ExerciseCreateVM.CoachId" />
					<div class="row">
						<div class="form-group col-md-4">
							<strong><label asp-for="ExerciseCreateVM.Name" class="control-label"></label></strong>
							<input id="editExerciseName" class="form-control" name="ExerciseCreateVM.Name" />
							<span asp-validation-for="ExerciseCreateVM.Name" class="text-danger"></span>
						</div>
						<div class="form-group col-md-8">
							<strong><label asp-for="ExerciseCreateVM.VideoLink" class="control-label"></label></strong>
							<input id="editExerciseVideoLink" class="form-control" name="ExerciseCreateVM.VideoLink" />
							<span asp-validation-for="ExerciseCreateVM.VideoLink" class="text-danger"></span>
						</div>
					</div>
					<div class="row">
						<div class="form-group col-md-6">
							<strong><label asp-for="ExerciseCreateVM.ExerciseCategoryId" class="control-label"></label></strong>
							<select id="editExerciseCategoryId" name="ExerciseCreateVM.ExerciseCategoryId" class="form-select">
								@foreach (var category in Model.ExerciseCreateVM.AvailableCategories)
								{
									<option value="@category.Value">@category.Text</option>
								}
							</select>
							<span asp-validation-for="ExerciseCreateVM.ExerciseCategoryId" class="text-danger"></span>
						</div>
						<div class="form-group col-md-6">
							<strong><label asp-for="ExerciseCreateVM.ExerciseMuscleGroupId" class="control-label"></label></strong>
							<select id="editExerciseMuscleGroupId" name="ExerciseCreateVM.ExerciseMuscleGroupId" class="form-select">
								@foreach (var muscleGroup in Model.ExerciseCreateVM.AvailableMuscleGroups)
								{
									<option value="@muscleGroup.Value">@muscleGroup.Text</option>
								}
							</select>
							<span asp-validation-for="ExerciseCreateVM.ExerciseMuscleGroupId" class="text-danger"></span>
						</div>

					</div>
					<div class="form-group">
						<strong><label asp-for="ExerciseCreateVM.Description" class="control-label"></label></strong>
						<textarea id="editExerciseDescription" class="form-control" name="ExerciseCreateVM.Description" /></textarea>
						<span asp-validation-for="ExerciseCreateVM.Description" class="text-danger"></span>
					</div>
					<div class="row">
						<div class="form-group form-check col-md-10">
							<input type="checkbox" asp-for="ExerciseCreateVM.SetAsPublic" class="form-check-input" id="editExerciseSetAsPublic" />
							<label class="form-check-label" asp-for="ExerciseCreateVM.SetAsPublic"><strong>Set as public</strong></label>
							<span asp-validation-for="ExerciseCreateVM.SetAsPublic" class="text-danger"></span>
						</div>
						<div class="form-group col-md-2 text-end">
							<button type="submit" class="btn btn-dark" id="submitEditForm"><strong>Save</strong></button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div> *@

<!-- MODAL FOR EXERCISE DETAILS -->
<div class="modal fade" id="exerciseDetailsModal" tabindex="-1" role="dialog" aria-labelledby="exerciseDetailsModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h3 class="modal-title  w-100" id="exerciseDetailsModalLabel">
					<span class="badge bg-dark d-flex justify-content-between align-items-center w-100">
						<strong>Exercise Details</strong>
						<button type="button" class="close btn text-white" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</span>
				</h3>
			</div>
			<div class="modal-body" id="exerciseDetailsContent">
			</div>
		</div>
	</div>
</div>

<!-- MODAL FOR EXERCISE DELETE -->
<div class="modal fade" id="exerciseDeleteModal" tabindex="-1" role="dialog" aria-labelledby="exerciseDeleteModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h3 class="modal-title w-100" id="exerciseDeleteModalLabel">
					<span class="badge bg-dark d-flex justify-content-between align-items-center w-100">
						<strong>Delete Exercise</strong>
						<button type="button" class="close btn text-white" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</span>
				</h3>
			</div>
			<div class="modal-body" id="exerciseDeleteContent">
			</div>
		</div>
	</div>
</div>

@section Scripts
{
	<script>
		$(function () {
			// DATATABLE INITIALIZE
			$('.table').DataTable();


			// SCRIPT TO HANDLE CLOSING MODALS
			$(document).on('click', '.close', function () {
				$(this).closest('.modal').modal('hide');
			});

			// AJAX FOR LOADING EXERCISE CREATE MODAL
			$(document).on('click', '.createBtn', function (e) {
				e.preventDefault();

				$.ajax({
					url: '@Url.Action("Create", "Exercises")',
					type: 'GET',
					success: function (data) {
						$('#exerciseCreateContent').html(data);
						$('#exerciseCreateModal').modal('show');
					},
					error: function () {
						alert("An error occurred while loading the exercise create modal.");
					}
				});
			});

			// AJAX FOR LOADING EXERCISE DELETE MODAL
			$(document).on('click', '.deleteBtn', function (e) {
				e.preventDefault();

				var id = $(this).data("deleteexerciseid");
				$.ajax({
					url: '@Url.Action("Delete", "Exercises")',
					type: 'GET',
					data: { id: id },
					success: function (data) {
						$('#exerciseDeleteContent').html(data);
						$('#exerciseDeleteModal').modal('show');
					},
					error: function () {
						alert("An error occurred while loading the exercise delete modal.");
					}
				});
			});

			// AJAX FOR LOADING EXERCISE DETAILS MODAL
			$(document).on('click', '.detailsBtn', function (e) {
				e.preventDefault();

				var id = $(this).data("detailsexerciseid");
				$.ajax({
					url: '@Url.Action("Details", "Exercises")',
					type: 'GET',
					data: { id: id },
					success: function (data) {
						$('#exerciseDetailsContent').html(data);
						$('#exerciseDetailsModal').modal('show');
					},
					error: function () {
						alert("An error occurred while loading the exercise details modal.");
					}
				});
			});

			// Handle tab switch with Bootstrap Tabs
			$('#exerciseTabs a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
				e.target // newly activated tab
				e.relatedTarget // previous tab
			});

			$('a[data-toggle="tab"]').on("shown.bs.tab", function (e) {
				$($.fn.dataTable.tables(true)).DataTable().fixedHeader.adjust();
			});

		});
	</script>
}