@model IEnumerable<ExerciseVM>

@{
    ViewData["Title"] = "Index";
}

<h1>Exercises</h1>

<p>
    <a asp-action="Create" class="btn btn-primary btn-sm"><i class="fa-solid fa-plus">&nbsp;</i>Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MainExerciseName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MainExerciseNumberOfRepeats)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdditionalExerciseName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdditionalExerciseNumberOfRepeats)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OverallNumberOfSets)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MainExerciseName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MainExerciseNumberOfRepeats)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdditionalExerciseName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdditionalExerciseNumberOfRepeats)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OverallNumberOfSets)
            </td>
                <td class="text-end">
                    <a asp-action="Edit" class="btn btn-secondary btn-sm" asp-route-id="@item.Id"><i class="fa-solid fa-pen-to-square">&nbsp;</i>Edit</a>
                    <a asp-action="Details" class="btn btn-secondary btn-sm" asp-route-id="@item.Id"><i class="fa-solid fa-circle-info">&nbsp;</i>Details</a>
                    <button data-id="@item.Id" class="btn btn-danger btn-sm deleteBtn" type="button"><i class="fa-solid fa-trash">&nbsp;</i>Delete</button>
            </td>
        </tr>
}
    </tbody>
</table>

<form id="deleteForm" asp-action="Delete">
    <input type="hidden" id="exerciseId" name="Id" />
</form>

@section Scripts
                    {
    <script>
        $(function () {
            $('.table').DataTable();

            $('.deleteBtn').click(function (e) {
                swal(
                    {
                        title: "Are you sure?",
                        text: "Are you sure you want to delete this record?",
                        icon: "warning",
                        buttons: true,
                        dangerMode: true
                    }
                ).then((confirm) => {
                    if (confirm) {
                        var btn = $(this);
                        var id = btn.data("id");
                        $('#exerciseId').val(id);
                        $('#deleteForm').submit();
                    }
                }
                );
            });
        });
    </script>
}