@using TrainingPlanApp.Web.Constants
@model IEnumerable<TrainingPlanActiveVM>

@{
	ViewData["Title"] = "TrainingPlanActive";
}

<h1>Active Training Plans</h1>

@foreach (var item in Model)
{
	<table class="table">
		<thead>
			<tr>
				<th>
					@Html.DisplayNameFor(model => model.Exercises)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Index)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Sets)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Repeats)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Weight)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Exercises[0].VideoLink)
				</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@for (int i = 0; i < item.Order.Count; i++)
			{
				<tr>
					<td>
						@Html.DisplayFor(modelItem => item.Exercises[item.Order[i]].Name)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Index[item.Order[i]])
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Sets[item.Order[i]])
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Repeats[item.Order[i]])
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Weight[item.Order[i]])
					</td>
					<td>
						<a href="@item.Exercises[item.Order[i]].VideoLink" target="_blank" rel="noopener noreferrer">@item.Exercises[item.Order[i]].VideoLink</a>
					</td>
					<td class="text-end">
						<a asp-action="Details" class="btn btn-secondary btn-sm w-100" asp-route-id="@item.Id"><i class="fa-solid fa-circle-info">&nbsp;</i>Details</a>
					</td>
				</tr>
			}
		</tbody>
	</table>
}

@section Scripts
{
	<script>
		$(function () {
			$('.table').DataTable();
		});
	</script>
}

