@using TrainingPlanApp.Web.Constants
@model TrainingPlanVM

@{
	ViewData["Title"] = "Details";
}

<h1>@Model.Name</h1>

<table class="table">
	<thead>
		<tr>
			<th></th>
			<th class="text-center">
				<a asp-action="ExerciseDetails" class="w-100 btn btn-lg btn-sm btn-primary" asp-controller="TrainingPlans" asp-route-exerciseId="@Model.ExerciseFirstId" asp-route-trainingPlanId="@Model.Id">
					@Html.DisplayNameFor(model => model.ExerciseFirst)
					<i class="fa-solid fa-circle-info"></i>
				</a>
			</th>
			<th class="text-center">
				<a asp-action="ExerciseDetails" class="w-100 btn btn-lg btn-sm btn-primary" asp-controller="TrainingPlans" asp-route-exerciseId="@Model.ExerciseSecondId" asp-route-trainingPlanId="@Model.Id">
					@Html.DisplayNameFor(model => model.ExerciseSecond)
					<i class="fa-solid fa-circle-info"></i>
				</a>
			</th>
			<th class="text-center">
				<a asp-action="ExerciseDetails" class="w-100 btn btn-lg btn-sm btn-primary" asp-controller="TrainingPlans" asp-route-exerciseId="@Model.ExerciseThirdId" asp-route-trainingPlanId="@Model.Id">
					@Html.DisplayNameFor(model => model.ExerciseThird)
					<i class="fa-solid fa-circle-info"></i>
				</a>
			</th>
			<th class="text-center">
				<a asp-action="ExerciseDetails" class="w-100 btn btn-lg btn-sm btn-primary" asp-controller="TrainingPlans" asp-route-exerciseId="@Model.ExerciseFourthId" asp-route-trainingPlanId="@Model.Id">
					@Html.DisplayNameFor(model => model.ExerciseFourth)
					<i class="fa-solid fa-circle-info"></i>
				</a>
			</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th class="text-left">
				Main Exercise
			</th>
			<td class="text-center">
				@Html.DisplayFor(model => model.ExerciseFirst.MainExerciseName)
			</td>
			<td class="text-center">
				@Html.DisplayFor(model => model.ExerciseSecond.MainExerciseName)
			</td>
			<td class="text-center">
				@Html.DisplayFor(model => model.ExerciseThird.MainExerciseName)
			</td>
			<td class="text-center">
				@Html.DisplayFor(model => model.ExerciseFourth.MainExerciseName)
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<th class="text-left">
				Number of repeats
			</th>
			<td class="text-center">
				@Html.DisplayFor(model => model.ExerciseFirst.MainExerciseNumberOfRepeats)
			</td>
			<td class="text-center">
				@Html.DisplayFor(model => model.ExerciseSecond.MainExerciseNumberOfRepeats)
			</td>
			<td class="text-center">
				@Html.DisplayFor(model => model.ExerciseThird.MainExerciseNumberOfRepeats)
			</td>
			<td class="text-center">
				@Html.DisplayFor(model => model.ExerciseFourth.MainExerciseNumberOfRepeats)
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<th class="text-left">
				Additional Exercise
			</th>
			<td class="text-center">
				@Html.DisplayFor(model => model.ExerciseFirst.AdditionalExerciseName)
			</td>
			<td class="text-center">
				@Html.DisplayFor(model => model.ExerciseSecond.AdditionalExerciseName)
			</td>
			<td class="text-center">
				@Html.DisplayFor(model => model.ExerciseThird.AdditionalExerciseName)
			</td>
			<td class="text-center">
				@Html.DisplayFor(model => model.ExerciseFourth.AdditionalExerciseName)
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<th class="text-left">
				Number of repeats
			</th>
			<td class="text-center">
				@Html.DisplayFor(model => model.ExerciseFirst.AdditionalExerciseNumberOfRepeats)
			</td>
			<td class="text-center">
				@Html.DisplayFor(model => model.ExerciseSecond.AdditionalExerciseNumberOfRepeats)
			</td>
			<td class="text-center">
				@Html.DisplayFor(model => model.ExerciseThird.AdditionalExerciseNumberOfRepeats)
			</td>
			<td class="text-center">
				@Html.DisplayFor(model => model.ExerciseFourth.AdditionalExerciseNumberOfRepeats)
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<th class="text-left">
				Number of sets
			</th>
			<td class="text-center">
				@Html.DisplayFor(model => model.ExerciseFirst.OverallNumberOfSets)
			</td>
			<td class="text-center">
				@Html.DisplayFor(model => model.ExerciseSecond.OverallNumberOfSets)
			</td>
			<td class="text-center">
				@Html.DisplayFor(model => model.ExerciseThird.OverallNumberOfSets)
			</td>
			<td class="text-center">
				@Html.DisplayFor(model => model.ExerciseFourth.OverallNumberOfSets)
			</td>
		</tr>
	</tbody>
</table>

<div>
	@if (Model.RedirectToAdmin)
	{
		<a asp-action="IndexAdmin" class="btn btn-secondary">Back to List</a>
	}
	else if (!Model.RedirectToAdmin)
	{
		<a asp-action="Index" class="btn btn-secondary" asp-route-id="@Model.UserId">Back to List</a>
	}
	@if (User.IsInRole(Roles.Administrator))
	{
		<a asp-action="Edit" class="btn btn-primary" asp-route-id="@Model?.Id">Edit</a>
	}
</div>

@section Scripts
{
	<script>
		$(function () {
			$('.table').DataTable();
		});
	</script>
} 