@model TrainingPlanVM

@{
	ViewData["Title"] = "Details";
}

<h1>@Model.Name</h1>

<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.ExerciseFirst)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.ExerciseSecond)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.ExerciseThird)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.ExerciseFourth)
			</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>
				@Html.DisplayFor(model => model.ExerciseFirst.MainExerciseName)
			</td>
			<td>
				@Html.DisplayFor(model => model.ExerciseSecond.MainExerciseName)
			</td>
			<td>
				@Html.DisplayFor(model => model.ExerciseThird.MainExerciseName)
			</td>
			<td>
				@Html.DisplayFor(model => model.ExerciseFourth.MainExerciseName)
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				@Html.DisplayFor(model => model.ExerciseFirst.AdditionalExerciseName)
			</td>
			<td>
				@Html.DisplayFor(model => model.ExerciseSecond.AdditionalExerciseName)
			</td>
			<td>
				@Html.DisplayFor(model => model.ExerciseThird.AdditionalExerciseName)
			</td>
			<td>
				@Html.DisplayFor(model => model.ExerciseFourth.AdditionalExerciseName)
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td class="text-center">
				<a asp-action="Details" class="btn btn-secondary btn-sm" asp-controller="Exercises"  asp-route-id="@Model.ExerciseFirstId">
					<i class="fa-solid fa-circle-info">&nbsp;</i> Details of exercise
				</a>
			</td>
			<td class="text-center">
				<a asp-action="Details" class="btn btn-secondary btn-sm" asp-controller="Exercises" asp-route-id="@Model.ExerciseSecondId">
					<i class="fa-solid fa-circle-info">&nbsp;</i> Details of exercise
				</a>
			</td>
			<td class="text-center">
				<a asp-action="Details" class="btn btn-secondary btn-sm" asp-controller="Exercises"  asp-route-id="@Model.ExerciseThirdId">
					<i class="fa-solid fa-circle-info">&nbsp;</i> Details of exercise
				</a>
			</td>
			<td class="text-center">
				<a asp-action="Details" class="btn btn-secondary btn-sm" asp-controller="Exercises" asp-route-id="@Model.ExerciseFourthId">
					<i class="fa-solid fa-circle-info">&nbsp;</i> Details of exercise
				</a>
			</td>
		</tr>
	</tbody>
</table>





<div>
	<a asp-action="Index" class="btn btn-secondary">Back to List</a>
	<a asp-action="Edit" class="btn btn-primary" asp-route-id="@Model?.Id">Edit</a>
</div>