@using TrainingPlanApp.Web.Constants
@model TrainingPlanDetailsVM

@{
	ViewData["Title"] = "Details";
}

<h1>@Model.Name</h1>

<table class="table">
	<thead>
		<tr>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>
				<div>
					<dl class="row">
						<dt class="col-sm-2">
							@Html.DisplayNameFor(model => model.Name)
						</dt>
						<dd class="col-sm-10">
							@Html.DisplayFor(model => model.Name)
						</dd>
						<dt class="col-sm-2">
							@Html.DisplayNameFor(model => model.Description)
						</dt>
						<dd class="col-sm-10">
							@Html.DisplayFor(model => model.Description)
						</dd>
					</dl>
				</div>
			</td>
		</tr>
		@for (int i = 0; i < Model.Exercises.Count; i++)
		{
			<tr>
				<td>
					<dl class="row">
						<dt class="col-sm-2">
							@Html.DisplayNameFor(model => model.Index)
						</dt>
						<dd class="col-sm-10">
							@Html.DisplayFor(model => model.Index[i])
						</dd>
						<dt class="col-sm-2">
							@Html.DisplayNameFor(model => model.Exercises[i].Name)
						</dt>
						<dd class="col-sm-10">
							@Html.DisplayFor(model => model.Exercises[i].Name)
						</dd>
						<dt class="col-sm-2">
							@Html.DisplayNameFor(model => model.Weight)
						</dt>
						<dd class="col-sm-10">
							@Html.DisplayFor(model => model.Weight[i])
						</dd>
						<dt class="col-sm-2">
							@Html.DisplayNameFor(model => model.Repeats)
						</dt>
						<dd class="col-sm-10">
							@Html.DisplayFor(model => model.Repeats[i])
						</dd>
						<dt class="col-sm-2">
							@Html.DisplayNameFor(model => model.Sets)
						</dt>
						<dd class="col-sm-10">
							@Html.DisplayFor(model => model.Sets[i])
						</dd>
						<dt class="col-sm-2">
							@Html.DisplayNameFor(model => model.Exercises[i].Description)
						</dt>
						<dd class="col-sm-10">
							@Html.DisplayFor(model => model.Exercises[i].Description)
						</dd>
						<dd class="col-sm-12">
							@{
								var mainVideoUrl = Model.Exercises[i].VideoLink;
								var mainVideoId = mainVideoUrl.Split(new[] { "v=" }, StringSplitOptions.None)[1];
								var mainEmbedUrl = "https://www.youtube.com/embed/" + mainVideoId;
							}
							<iframe width="560" height="315" src="@mainEmbedUrl" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
						</dd>
					</dl>
				</td>
			</tr>
		}
	</tbody>
</table>

<div>
	<a asp-action="Index" class="btn btn-secondary" asp-route-userId="@Model.UserId">Back to List</a>
</div>