@using TrainingPlanApp.Web.Models.TrainingPlan
@using TrainingPlanApp.Web.Constants

@model IEnumerable<TrainingPlanIndexVM>?

@{
	ViewData["Title"] = "Index";
	var userId = ViewBag.UserId;
}

@if (User.IsInRole(Roles.User))
{
	<h1>Training Plans</h1>
	<table class="table">
		<thead>
			<tr>
				<th>
					@Html.DisplayNameFor(model => model.Date)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Name)
				</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model)
			{
				if (!item.IsEmpty)
				{
					<tr>
						<td>
							@Html.DisplayFor(modelItem => item.Date)
						</td>
						<td>
							@if (item.IsCompleted == true)
							{
								<span class="badge bg-success">@Html.DisplayFor(modelItem => item.Name)</span>
							}
							else
							{
								<span class="badge bg-danger">@Html.DisplayFor(modelItem => item.Name)</span>
							}
						</td>
						<td class="text-end">
							<form asp-action="ChangeStatus" class="d-inline">
								<input name="Id" value="@item.Id" type="hidden" />
								<input name="status" value="true" type="hidden" />
								<input name="userId" value="@item.UserId" type="hidden" />
								<button type="submit" class="btn btn-success btn-sm"><i class="fa-solid fa-check">&nbsp;</i></button>
							</form>
							<form asp-action="ChangeStatus" class="d-inline">
								<input name="Id" value="@item.Id" type="hidden" />
								<input name="status" value="false" type="hidden" />
								<input name="userId" value="@item.UserId" type="hidden" />
								<button type="submit" class="btn btn-danger btn-sm"><i class="fa-solid fa-x">&nbsp;</i></button>
							</form>
							<a asp-action="Details" class="btn btn-secondary btn-sm w-100" asp-route-id="@item.Id"><i class="fa-solid fa-circle-info">&nbsp;</i>Details</a>
						</td>
					</tr>
				}
			}
		</tbody>
	</table>

}

@if (User.IsInRole(Roles.Administrator))
{
	<h1>Training Plans Admin</h1>
	<table class="table">
		<thead>
			<tr>
				<th>
					@Html.DisplayNameFor(model => model.Date)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Name)
				</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model)
			{
				<tr>
					<td>
						@Html.DisplayFor(modelItem => item.Date)
					</td>
					<td>
						@if (item.IsEmpty)
						{
							<a asp-action="Details" asp-route-id="@item.Id" asp-route-redirectToAdmin="false">
								<i class="btn btn-secondary">@Html.DisplayFor(modelItem => item.Name)</i></a>
						}
						else if (item.IsCompleted == true)
						{
							<a asp-action="Details" asp-route-id="@item.Id" asp-route-redirectToAdmin="false">
								<i class="btn btn-success">@Html.DisplayFor(modelItem => item.Name)</i>
							</a>
						}
						else
						{
							<a asp-action="Details" asp-route-id="@item.Id" asp-route-redirectToAdmin="false">
								<i class="btn btn-danger">@Html.DisplayFor(modelItem => item.Name)</i>
							</a>
						}
					</td>
					<td class="text-end">
						<a asp-action="ManageExercises" class="btn btn-secondary btn-sm" asp-route-id="@item.Id" asp-route-redirectToAdmin="false">
							<i class="fa-regular fa-pen-to-square">&nbsp;</i>Exercises
						</a>
					</td>
				</tr>
			}
		</tbody>
	</table>

}


