@using TrainingPlanApp.Web.Models.TrainingPlan
@using TrainingPlanApp.Web.Constants

@model IEnumerable<TrainingPlanIndexVM>?

@{
	ViewData["Title"] = "Index";
}

@if (User.IsInRole(Roles.User))
{
	<h1>Training Plans</h1>
	<table class="table">
		<thead>
			<tr>
				<th>
					@Html.DisplayNameFor(model => model.Date)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Name)
				</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model)
			{
				if (!item.IsEmpty)
				{
					<tr>
						<td>
							@Html.DisplayFor(modelItem => item.Date)
						</td>
						<td>
							@if (item.IsCompleted == true)
							{
							<a asp-action="Details" asp-route-id="@item.Id">
								<i class="btn btn-success">@Html.DisplayFor(modelItem => item.Name)</i></a>
							}
							else
							{
							<a asp-action="Details" asp-route-id="@item.Id">
								<i class="btn btn-danger">@Html.DisplayFor(modelItem => item.Name)</i></a>
							}
						</td>
						<td class="text-end">
							<form asp-action="ChangeStatus" class="d-inline">
								<input name="Id" value="@item.Id" type="hidden" />
								<input name="status" value="true" type="hidden" />
								<input name="userId" value="@item.UserId" type="hidden" />
								<input name="trainingModuleId" value="@item.TrainingModuleId" type="hidden" />
								<button type="submit" class="btn btn-success btn-sm"><i class="fa-solid fa-check">&nbsp;</i></button>
							</form>
							<form asp-action="ChangeStatus" class="d-inline">
								<input name="Id" value="@item.Id" type="hidden" />
								<input name="status" value="false" type="hidden" />
								<input name="userId" value="@item.UserId" type="hidden" />
								<input name="trainingModuleId" value="@item.TrainingModuleId" type="hidden" />
								<button type="submit" class="btn btn-danger btn-sm"><i class="fa-solid fa-x">&nbsp;</i></button>
							</form>
						</td>
					</tr>
				}
			}
		</tbody>
	</table>

}

@if (User.IsInRole(Roles.Administrator))
{
	<h1>Training Plans</h1>
	<table class="table">
		<thead>
			<tr>
				<th>
					@Html.DisplayNameFor(model => model.Date)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Name)
				</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model)
			{
				<tr>
					<td>
						@Html.DisplayFor(modelItem => item.Date)
					</td>
					<td>
						@if (item.IsEmpty)
						{
							<a asp-action="Details" asp-route-id="@item.Id">
								<i class="btn btn-secondary">@Html.DisplayFor(modelItem => item.Name)</i></a>
						}
						else if (item.IsCompleted == true)
						{
							<a asp-action="Details" asp-route-id="@item.Id">
								<i class="btn btn-success">@Html.DisplayFor(modelItem => item.Name)</i></a>
						}
						else
						{
							<a asp-action="Details" asp-route-id="@item.Id">
								<i class="btn btn-danger">@Html.DisplayFor(modelItem => item.Name)</i></a>
						}
					</td>
					<td>
						<a asp-action="ManageExercises" asp-route-id="@item.Id" asp-route-trainingModuleId="@item.TrainingModuleId">
							<i class="text-end btn btn-secondary btn-sm"> Exercises</i></a>
					</td>
				</tr>
			}
		</tbody>
	</table>

}


