@using TrainingPlanApp.Web.Models.TrainingPlan
@using TrainingPlanApp.Web.Constants

@model TrainingPlanIndexVM

@{
	ViewData["Title"] = "Index";
}

@if (User.IsInRole(Roles.User))
{
	<h1>Training Plans</h1>
	<p>
		<a asp-action="Index" asp-controller="TrainingModules" class="btn btn-dark btn-sm" asp-route-trainingModuleId="@Model?.UserId">Back to List</a>
	</p>
	<table class="table">
		<thead>
			<tr>
				<th>
					@Html.DisplayNameFor(model => model.TrainingPlanVMs.First().Date)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.TrainingPlanVMs.First().Name)
				</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model.TrainingPlanVMs)
			{
				if (!item.IsEmpty)
				{
					<tr>
						<td>
							@Html.DisplayFor(modelItem => item.Date)
						</td>
						<td>
							@if (item.IsCompleted == true)
							{
								<a asp-action="Details" asp-route-id="@item.Id">
									<i class="btn btn-success">@Html.DisplayFor(modelItem => item.Name)</i>
								</a>
							}
							else
							{
								<a asp-action="Details" asp-route-id="@item.Id">
									<i class="btn btn-danger">@Html.DisplayFor(modelItem => item.Name)</i>
								</a>
							}
						</td>
						<td class="text-end">
							<form asp-action="ChangeStatus" class="d-inline">
								<input name="Id" value="@item.Id" type="hidden" />
								<input name="status" value="true" type="hidden" />
								<input name="userId" value="@item.UserId" type="hidden" />
								<input name="trainingModuleId" value="@item.TrainingModuleId" type="hidden" />
								<button type="submit" class="btn btn-success btn-sm"><i class="fa-solid fa-check">&nbsp;</i></button>
							</form>
							<form asp-action="ChangeStatus" class="d-inline">
								<input name="Id" value="@item.Id" type="hidden" />
								<input name="status" value="false" type="hidden" />
								<input name="userId" value="@item.UserId" type="hidden" />
								<input name="trainingModuleId" value="@item.TrainingModuleId" type="hidden" />
								<button type="submit" class="btn btn-danger btn-sm"><i class="fa-solid fa-x">&nbsp;</i></button>
							</form>
						</td>
					</tr>
				}
			}
		</tbody>
	</table>

}

@if (User.IsInRole(Roles.Administrator))
{
	<h1>Training Plans</h1>
	<p>
		<a asp-action="Index" asp-controller="TrainingModules" class="btn btn-dark btn-sm" asp-route-trainingModuleId="@Model?.UserId">Back to List</a>
	</p>
	<table class="table">
		<thead>
			<tr>
				<th>
					@Html.DisplayNameFor(model => model.TrainingPlanVMs.First().Date)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.TrainingPlanVMs.First().Name)
				</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model.TrainingPlanVMs)
			{
				<tr>
					<td>
						@Html.DisplayFor(modelItem => item.Date)
					</td>
					<td>
						@if (item.IsEmpty)
						{
							<a asp-action="Details" asp-route-id="@item.Id">
								<i class="btn btn-secondary">@Html.DisplayFor(modelItem => item.Name)</i>
							</a>
						}
						else if (item.IsCompleted == true)
						{
							<a asp-action="Details" asp-route-id="@item.Id">
								<i class="btn btn-success">@Html.DisplayFor(modelItem => item.Name)</i>
							</a>
						}
						else
						{
							<a asp-action="Details" asp-route-id="@item.Id">
								<i class="btn btn-danger">@Html.DisplayFor(modelItem => item.Name)</i>
							</a>
						}
					</td>
					<td>
						<a asp-action="ManageExercises" asp-route-id="@item.Id" asp-route-trainingModuleId="@item.TrainingModuleId">
							<i class="text-end btn btn-secondary btn-sm"> Exercises</i>
						</a>
						<button data-copyfromid="@item.Id"
								class="btn btn-secondary btn-sm copyBtn">
							<i class="fa-solid fa-copy">&nbsp;</i>Copy
						</button>
					</td>
				</tr>
			}
		</tbody>
	</table>

}

<!-- MODAL FOR COPY TRAINING PLAN -->
<div class="modal fade" id="copyTrainingPlanModal" tabindex="-1" role="dialog" aria-labelledby="copyTrainingPlanModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="copyTrainingPlanModalLabel">Copy Training Plan</h5>
				<button type="button" class="close btn btn-dark" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form id="copyForm" asp-action="CopyTrainingPlan" method="post">
					<input type="hidden" name="copyFromId" id="copyFromId" />
					<input type="hidden" name="trainingModuleId" value="@Model.TrainingModuleId" />
					<div class="form-group">
						<label for="copyToSelect">Select Plan to Copy to</label>
						<select id="copyToSelect" name="copyToId" class="form-control">
							@foreach (var item in Model.TrainingPlanVMs.OrderBy(m => m.Date))
							{
								var backgroundColor = item.IsEmpty ? "background-color: gray;" : "background-color: red;";
								var textColor = "color: white;";
								<option value="@item.Id" style="@backgroundColor @textColor">@item.Name</option>
							}
						</select>
					</div>
					<div class="form-group">
						<button type="submit" class="btn btn-primary">Copy</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

@section Scripts
{
	<script>
		$(function () {
			// DATATABLE INITIALIZE
			$('.table').DataTable();

			// SCRIPT TO HANDLE COPYING TRAINING PLANS
			$(document).on('click', '.copyBtn', function () {
				var btn = $(this);
				var copyFromId = btn.data("copyfromid");

				$('#copyFromId').val(copyFromId);

				$('#copyTrainingPlanModal').modal('show');
			});


			// SCRIPT TO HANDLE CLOSING MODALS
			$(document).on('click', '.close', function () {
				$(this).closest('.modal').modal('hide');
			});
		});
	</script>
}



