@using TrainingPlanApp.Web.Models.TrainingPlan
@using TrainingPlanApp.Web.Constants

@model IEnumerable<TrainingPlanIndexVM>

@{
	ViewData["Title"] = "Index";
	var userId = ViewBag.UserId;
}

<h1>Training Plans</h1>
@if (User.IsInRole(Roles.Administrator))
{
	<p>
		<a asp-action="Create" asp-route-userId="@userId" class="btn btn-primary btn-sm"><i class="fa-solid fa-plus">&nbsp;</i>Create New</a>
	</p>
}
<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Name)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.IsActive)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.StartDate)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			@if (item.IsActive == true)
			{
				<tr>
					<td>
						@Html.DisplayFor(modelItem => item.Name)
					</td>
					<td>
						<span class="badge bg-success">Active</span>
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.StartDate)
					</td>
					<td class="text-end">
						@if (User.IsInRole(Roles.User))
						{
							<a asp-action="Details" class="btn btn-secondary btn-sm w-100" asp-route-id="@item.Id"><i class="fa-solid fa-circle-info">&nbsp;</i>Details</a>
						}
						@if (User.IsInRole(Roles.Administrator))
						{
							<form asp-action="ChangeStatus" class="d-inline">
								<input name="Id" value="@item.Id" type="hidden" />
								<input name="status" value="false" type="hidden" />
								<input name="userId" value="@item.UserId" type="hidden" />
								<button type="submit" class="btn btn-danger btn-sm"><i class="fa-solid fa-circle-pause">&nbsp;</i>Status</button>
							</form>
							<a asp-action="Details" class="btn btn-info btn-sm" asp-route-id="@item.Id" asp-route-redirectToAdmin="false"><i class="fa-solid fa-circle-info">&nbsp;</i>Details</a>
							<a asp-action="ManageExercises" class="btn btn-secondary btn-sm" asp-route-id="@item.Id" asp-route-redirectToAdmin="false">
								<i class="fa-regular fa-pen-to-square">&nbsp;</i>Exercises</a>
							<a asp-action="Edit" class="btn btn-secondary btn-sm" asp-route-id="@item.Id" asp-route-redirectToAdmin="false"><i class="fa-solid fa-pen-to-square">&nbsp;</i>Edit</a>
							<button data-id="@item.Id" data-userid="@item.UserId" class="btn btn-danger btn-sm deleteBtn" type="button"><i class="fa-solid fa-trash">&nbsp;</i>Delete</button>
						}
					</td>
				</tr>
			}
		}
	</tbody>
</table>

<h1>Old Training Plans</h1>
<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Name)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.IsActive)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.StartDate)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			@if (item.IsActive != true)
			{
				<tr>
					<td>
						@Html.DisplayFor(modelItem => item.Name)
					</td>
					<td>
						<span class="badge bg-danger">Not Active</span>
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.StartDate)
					</td>
					<td class="text-end">
						@if (User.IsInRole(Roles.User))
						{
							<a asp-action="Details" class="btn btn-secondary btn-sm w-100" asp-route-id="@item.Id"><i class="fa-solid fa-circle-info">&nbsp;</i>Details</a>
						}
						@if (User.IsInRole(Roles.Administrator))
						{
							<form asp-action="ChangeStatus" class="d-inline">
								<input name="Id" value="@item.Id" type="hidden" />
								<input name="status" value="true" type="hidden" />
								<input name="userId" value="@item.UserId" type="hidden" />
								<button type="submit" class="btn btn-success btn-sm"><i class="fa-solid fa-circle-play">&nbsp;</i>Status</button>
							</form>
							<a asp-action="Details" class="btn btn-info btn-sm" asp-route-id="@item.Id" asp-route-redirectToAdmin="false"><i class="fa-solid fa-circle-info">&nbsp;</i>Details</a>
							<a asp-action="ManageExercises" class="btn btn-secondary btn-sm" asp-route-id="@item.Id" asp-route-redirectToAdmin="false">
								<i class="fa-regular fa-pen-to-square">&nbsp;</i>Exercises</a>
							<a asp-action="Edit" class="btn btn-secondary btn-sm" asp-route-id="@item.Id" asp-route-redirectToAdmin="false"><i class="fa-solid fa-pen-to-square">&nbsp;</i>Edit</a>
							<button data-id="@item.Id" data-userid="@item.UserId" class="btn btn-danger btn-sm deleteBtn" type="button"><i class="fa-solid fa-trash">&nbsp;</i>Delete</button>
						}
					</td>
				</tr>
			}
		}
	</tbody>
</table>

<form id="deleteForm" asp-action="Delete">
	<input type="hidden" id="trainingPlanId" name="Id" />
	<input type="hidden" id="userId" name="UserId" />
</form>

@section Scripts
{
	<script>
		$(function () {
			$('.table').DataTable();

			$('.deleteBtn').click(function (e) {
				swal(
					{
						title: "Are you sure?",
						text: "Are you sure you want to delete this record?",
						icon: "warning",
						buttons: true,
						dangerMode: true
					}
				).then((confirm) => {
					if (confirm) {
						var btn = $(this);
						var id = btn.data("id");
						var userId = btn.data("userid")
						$('#trainingPlanId').val(id);
						$('#userId').val(userId)
						$('#deleteForm').submit();
					}
				}
				);
			});
		});
	</script>
}

