@using TrainingPlanApp.Web.Models.TrainingPlan
@using TrainingPlanApp.Web.Constants

@model TrainingPlanIndexVM

@{
	ViewData["Title"] = "Index";
}

@if (User.IsInRole(Roles.User))
{
	<h1>Training Plans</h1>
	<p>
		<a asp-action="Index" asp-controller="TrainingModules" class="btn btn-dark btn-sm" asp-route-trainingModuleId="@Model?.UserId">Back to List</a>&nbsp;
		<a asp-action="PrintPDF" class="btn btn-danger btn-sm text-white" asp-route-trainingModuleId="@Model.TrainingModuleId">Print PDF</a>
	</p>
	<table class="table">
		<thead>
			<tr>
				<th>
					@Html.DisplayNameFor(model => model.TrainingPlanVMs.First().Date)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.TrainingPlanVMs.First().Name)
				</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model.TrainingPlanVMs)
			{
				if (!item.IsEmpty)
				{
					<tr>
						<td>
							@Html.DisplayFor(modelItem => item.Date)
						</td>
						<td>
							<a class="training-plan-link" data-detailstrainingplanid="@item.Id">
								@if (item.IsCompleted == true)
								{
									<i class="btn btn-success">@Html.DisplayFor(modelItem => item.Name)</i>
								}
								else
								{
									<i class="btn btn-danger">@Html.DisplayFor(modelItem => item.Name)</i>
								}
							</a>
						</td>
						<td class="text-end">
							<a class="changeStatusBtn"
							   data-completetrainingplanid="@item.Id"
							   data-completetrainingmoduleid="@item.TrainingModuleId">
								<button class="btn btn-success btn-sm">
									<i class="fa-solid fa-check">&nbsp;</i>Complete
								</button>
							</a>
						</td>
					</tr>
				}
			}
		</tbody>
	</table>

}

@if (User.IsInRole(Roles.Administrator))
{
	<h1>Training Plans</h1>
	<p>
		<a asp-action="Index" asp-controller="TrainingModules" class="btn btn-dark btn-sm" asp-route-trainingModuleId="@Model?.UserId">Back to List</a>
		<a asp-action="PrintPDF" class="btn btn-danger btn-sm text-white" asp-route-trainingModuleId="@Model.TrainingModuleId">Print PDF</a>
	</p>
	<table class="table">
		<thead>
			<tr>
				<th>
					@Html.DisplayNameFor(model => model.TrainingPlanVMs.First().Date)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.TrainingPlanVMs.First().Name)
				</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model.TrainingPlanVMs)
			{
				<tr>
					<td>
						@Html.DisplayFor(modelItem => item.Date)
					</td>
					<td>
						<a class="detailsBtn" data-detailstrainingplanid="@item.Id">
							@if (item.IsEmpty)
							{
								<i class="btn btn-secondary">@Html.DisplayFor(modelItem => item.Name)</i>
							}
							else if (item.IsCompleted == true)
							{
								<i class="btn btn-success">@Html.DisplayFor(modelItem => item.Name)</i>
							}
							else
							{
								<i class="btn btn-danger">@Html.DisplayFor(modelItem => item.Name)</i>
							}
						</a>
					</td>
					<td>
						<a asp-action="ManageExercises" asp-route-id="@item.Id" asp-route-trainingModuleId="@item.TrainingModuleId">
							<i class="text-end btn btn-secondary btn-sm"> Exercises</i>
						</a>
						<button data-copyfromid="@item.Id"
								data-copytrainingmoduleid="@item.TrainingModuleId"
								class="btn btn-secondary btn-sm copyBtn">
							<i class="fa-solid fa-copy">&nbsp;</i>Copy
						</button>
					</td>
				</tr>
			}
		</tbody>
	</table>

}

<!-- MODAL FOR COPY TRAINING PLAN -->
<div class="modal fade" id="trainingPlanCopyModal" tabindex="-1" role="dialog" aria-labelledby="trainingPlanCopyModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="trainingPlanCopyModalLabel">Copy Training Plan</h5>
				<button type="button" class="close btn btn-dark" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body" id="trainingPlanCopyContent">
				
			</div>
		</div>
	</div>
</div>

<!-- MODAL FOR COMPLETING TRAINING PLAN-->
<div class="modal fade" id="trainingPlanChangeStatusModal" tabindex="-1" role="dialog" aria-labelledby="trainingPlanChangeStatusModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="trainingPlanChangeStatusModalLabel">Complete Training Plan</h5>
				<button type="button" class="close btn btn-dark" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body" id="trainingPlanChangeStatusContent">
			</div>
		</div>
	</div>
</div>

<!-- MODAL FOR TRAINING PLAN DETAILS -->
<div class="modal fade" id="trainingPlanDetailsModal" tabindex="-1" role="dialog" aria-labelledby="trainingPlanDetailsModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="trainingPlanDetailsModalLabel">Training Plan Details</h5>
				<button type="button" class="close btn btn-dark" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body" id="trainingPlanDetailsContent">
			</div>
		</div>
	</div>
</div>


@section Scripts
{
	<script>
		$(function () {
			// DATATABLE INITIALIZE
			$('.table').DataTable();

			// SCRIPT TO HANDLE CLOSING MODALS
			$(document).on('click', '.close', function () {
				$(this).closest('.modal').modal('hide');
			});

			// AJAX FOR LOADING TRAINING PLAN DETAILS
			$(document).on('click', '.detailsBtn', function (e) {
				e.preventDefault();

				var id = $(this).data("detailstrainingplanid");
				$.ajax({
					url: '@Url.Action("Details", "TrainingPlans")',
					type: 'GET',
					data: { id: id },
					success: function (data) {
						$('#trainingPlanDetailsContent').html(data);
						$('#trainingPlanDetailsModal').modal('show');
					},
					error: function () {
						alert("An error occurred while loading the training plan details.");
					}
				});
			});

			// AJAX FOR LOADING TRAINING PLAN CHANGE STATUS
			$(document).on('click', '.changeStatusBtn', function (e) {
				e.preventDefault();

				var completeTrainingPlanId = $(this).data("completetrainingplanid");
				var completeTrainingModuleId = $(this).data("completetrainingmoduleid");
				$.ajax({
					url: '@Url.Action("ChangeStatus", "TrainingPlans")',
					type: 'GET',
					data: { trainingPlanId: completeTrainingPlanId, trainingModuleId: completeTrainingModuleId },
					success: function (data) {
						$('#trainingPlanChangeStatusContent').html(data);
						$('#trainingPlanChangeStatusModal').modal('show');
					},
					error: function () {
						alert("An error occurred while loading the training plan change status.");
					}
				});
			});

			// AJAX FOR LOADING TRAINING PLAN COPY
			$(document).on('click', '.copyBtn', function (e) {
				e.preventDefault();

				var copyTrainingModuleId = $(this).data("copytrainingmoduleid");
				var copyFromId = $(this).data("copyfromid");
				$.ajax({
					url: '@Url.Action("Copy", "TrainingPlans")',
					type: 'GET',
					data: { trainingModuleId: copyTrainingModuleId, copyFromId: copyFromId },
					success: function (data) {
						$('#trainingPlanCopyContent').html(data);
						$('#trainingPlanCopyModal').modal('show');
					},
					error: function () {
						alert("An error occurred while loading the training plan copy.");
					}
				});
			});

		});
	</script>
}