@using TrainingPlanApp.Web.Models.TrainingPlan
@using TrainingPlanApp.Web.Constants

@model TrainingPlanIndexVM

@{
	ViewData["Title"] = "Index";
}

<div class="container">
	<div class="row justify-content-center">
		<div class="col-md-12">
			<ul class="nav nav-tabs" id="trainingPlanTabs" role="tablist">
				<li class="nav-item" role="presentation">
					<a asp-action="Index" asp-controller="TrainingModules" asp-route-trainingModuleId="@Model?.UserId" class="nav-link" id="back-to-list" aria-controls="training-modules" aria-selected="false">
						<i class="bi bi-arrow-left">&nbsp;</i><strong>Back to Modules</strong>
					</a>
				</li>
				<li class="nav-item" role="presentation">
					<a class="nav-link active" id="training-plans-tab" data-toggle="tab" href="#training-plans" role="tab" aria-controls="training-plans" aria-selected="true">
						<i class="bi bi-person">&nbsp;</i><strong>Training Plan</strong>
					</a>
				</li>
				<li class="nav-item ms-auto" role="presentation">
					<a asp-action="PrintPDF" asp-route-trainingModuleId="@Model.TrainingModuleId" class="nav-link text-danger" id="print-pdf" aria-controls="training-modules" aria-selected="false">
						<i class="bi bi-file-earmark-pdf-fill">&nbsp;</i><strong>Print Training Plan</strong>
					</a>
				</li>
			</ul>
			<br />
			<div class="tab-content" id="trainingPlansTabsContent">
				<div class="tab-pane fade show active" id="training-plans" role="tabpanel" aria-labelledby="training-plans-tab">
					<h1><span class="badge bg-black d-block w-100"><strong>My Training Plan</strong></span></h1>
					<div class="progress custom-progress" role="progressbar" aria-label="Success example" aria-valuenow="@Model.Progress" aria-valuemin="0" aria-valuemax="100">
						<div class="progress-bar bg-success" style="width: @Model.Progress%"><strong>@Model.Progress%</strong></div>
						<div class="progress-bar bg-dark" style="width: @(100 - Model.Progress)%"></div>
					</div>
					<table class="table">
						<thead>
							<tr>
								<th class="text-start">
									@Html.DisplayNameFor(model => model.TrainingPlanVMs.First().Date)
								</th>
								<th>
									@Html.DisplayNameFor(model => model.TrainingPlanVMs.First().Name)
								</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							@if (User.IsInRole(Roles.User))
							{
								@foreach (var item in Model.TrainingPlanVMs)
								{
									if (!item.IsEmpty)
									{
										<tr>
											<td class="text-start">
												@Html.DisplayFor(modelItem => item.Date)
											</td>
											<td>
												<a class="training-plan-link" data-detailstrainingplanid="@item.Id">
													@if (item.IsCompleted == true)
													{
														<i class="btn btn-success">@Html.DisplayFor(modelItem => item.Name)</i>
													}
													else
													{
														<i class="btn btn-danger">@Html.DisplayFor(modelItem => item.Name)</i>
													}
												</a>
											</td>
											<td class="text-end">
												<div class="dropdown">
													<button class="btn btn-outline-info btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
														<strong>Actions</strong>
													</button>
													<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
														<li>
															<button data-completetrainingplanid="@item.Id"
																	data-completetrainingmoduleid="@item.TrainingModuleId"
																	class="dropdown-item changeStatusBtn">
																<i class="bi bi-check2">&nbsp;</i>Complete
															</button>
														</li>
													</ul>
												</div>
											</td>
										</tr>
									}
								}
							}
							@if (User.IsInRole(Roles.Administrator))
							{
								@foreach (var item in Model.TrainingPlanVMs)
								{
									<tr>
										<td class="text-start">
											@Html.DisplayFor(modelItem => item.Date)
										</td>
										<td>
											<a class="detailsBtn" data-detailstrainingplanid="@item.Id">
												@if (item.IsEmpty)
												{
													<i class="btn btn-secondary">@Html.DisplayFor(modelItem => item.Name)</i>
												}
												else if (item.IsCompleted == true)
												{
													<i class="btn btn-success">@Html.DisplayFor(modelItem => item.Name)</i>
												}
												else
												{
													<i class="btn btn-danger">@Html.DisplayFor(modelItem => item.Name)</i>
												}
											</a>
										</td>
										<td class="text-end">
											<div class="dropdown">
												<button class="btn btn-outline-info btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
													<strong>Actions</strong>
												</button>
												<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
													<li>
														<button data-copyfromid="@item.Id"
																data-copytrainingmoduleid="@item.TrainingModuleId"
																class="dropdown-item copyBtn">
															<i class="bi bi-clipboard">&nbsp;</i>Copy
														</button>
													</li>
													<li>
														<a asp-action="ManageExercises" asp-route-id="@item.Id" asp-route-trainingModuleId="@item.TrainingModuleId" class="dropdown-item">
															<i class="bi bi-pencil">&nbsp;</i>Exercises
														</a>
													</li>
													<li>
														<button data-completetrainingplanid="@item.Id"
																data-completetrainingmoduleid="@item.TrainingModuleId"
																class="dropdown-item changeStatusBtn">
															<i class="bi bi-check2">&nbsp;</i>Complete
														</button>
													</li>
												</ul>
											</div>
										</td>
									</tr>
								}
							}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>


<!-- MODAL FOR COPY TRAINING PLAN -->
<div class="modal fade" id="trainingPlanCopyModal" tabindex="-1" role="dialog" aria-labelledby="trainingPlanCopyModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h3 class="modal-title w-100" id="trainingPlanCopyModalLabel">
					<span class="badge bg-dark d-flex justify-content-between align-items-center w-100">
						<strong>Copy Training Plan</strong>
						<button type="button" class="close btn text-white" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</span>
				</h3>
			</div>
			<div class="modal-body" id="trainingPlanCopyContent">
			</div>
		</div>
	</div>
</div>

<!-- MODAL FOR COMPLETING TRAINING PLAN-->
<div class="modal fade" id="trainingPlanChangeStatusModal" tabindex="-1" role="dialog" aria-labelledby="trainingPlanChangeStatusModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h3 class="modal-title w-100" id="trainingPlanChangeStatusModalLabel">
					<span class="badge bg-dark d-flex justify-content-between align-items-center w-100">
						<strong>Complete Training Plan</strong>
						<button type="button" class="close btn text-white" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</span>
				</h3>
			</div>
			<div class="modal-body" id="trainingPlanChangeStatusContent">
			</div>
		</div>
	</div>
</div>

<!-- MODAL FOR TRAINING PLAN DETAILS -->
<div class="modal fade" id="trainingPlanDetailsModal" tabindex="-1" role="dialog" aria-labelledby="trainingPlanDetailsModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h3 class="modal-title w-100" id="trainingPlanDetailsModalLabel">
					<span class="badge bg-dark d-flex justify-content-between align-items-center w-100">
						<strong>Training Plan Details</strong>
						<button type="button" class="close btn text-white" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</span>
				</h3>
			</div>
			<div class="modal-body" id="trainingPlanDetailsContent">
			</div>
		</div>
	</div>
</div>


@section Scripts
{
	<script>
		$(function () {
			// DATATABLE INITIALIZE
			$('.table').DataTable();

			// SCRIPT TO HANDLE CLOSING MODALS
			$(document).on('click', '.close', function () {
				$(this).closest('.modal').modal('hide');
			});

			// Handle tab switch with Bootstrap Tabs
			$('#exerciseTabs a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
				e.target // newly activated tab
				e.relatedTarget // previous tab
			});

			$('a[data-toggle="tab"]').on("shown.bs.tab", function (e) {
				$($.fn.dataTable.tables(true)).DataTable().fixedHeader.adjust();
			});


			// AJAX FOR LOADING TRAINING PLAN DETAILS MODAL
			$(document).on('click', '.detailsBtn', function (e) {
				e.preventDefault();

				var id = $(this).data("detailstrainingplanid");
				$.ajax({
					url: '@Url.Action("Details", "TrainingPlans")',
					type: 'GET',
					data: { id: id },
					success: function (data) {
						$('#trainingPlanDetailsContent').html(data);
						$('#trainingPlanDetailsModal').modal('show');
					},
					error: function () {
						alert("An error occurred while loading the training plan details.");
					}
				});
			});

			// AJAX FOR LOADING TRAINING PLAN CHANGE STATUS MODAL
			$(document).on('click', '.changeStatusBtn', function (e) {
				e.preventDefault();

				var completeTrainingPlanId = $(this).data("completetrainingplanid");
				var completeTrainingModuleId = $(this).data("completetrainingmoduleid");
				$.ajax({
					url: '@Url.Action("ChangeStatus", "TrainingPlans")',
					type: 'GET',
					data: { trainingPlanId: completeTrainingPlanId, trainingModuleId: completeTrainingModuleId },
					success: function (data) {
						$('#trainingPlanChangeStatusContent').html(data);
						$('#trainingPlanChangeStatusModal').modal('show');
					},
					error: function () {
						alert("An error occurred while loading the training plan change status.");
					}
				});
			});

			// AJAX FOR LOADING TRAINING PLAN COPY MODAL
			$(document).on('click', '.copyBtn', function (e) {
				e.preventDefault();

				var copyTrainingModuleId = $(this).data("copytrainingmoduleid");
				var copyFromId = $(this).data("copyfromid");
				$.ajax({
					url: '@Url.Action("Copy", "TrainingPlans")',
					type: 'GET',
					data: { trainingModuleId: copyTrainingModuleId, copyFromId: copyFromId },
					success: function (data) {
						$('#trainingPlanCopyContent').html(data);
						$('#trainingPlanCopyModal').modal('show');
					},
					error: function () {
						alert("An error occurred while loading the training plan copy.");
					}
				});
			});

		});
	</script>
}