@using EliteAthleteAppShared.Models.TrainingPlan
@using EliteAthleteAppShared.Configurations.Constants

@model TrainingPlanIndexVM

@{
	ViewData["Title"] = "Index";
}

	<div class="row justify-content-center">
		<div class="col-md-12">
			<ul class="nav nav-tabs" id="trainingPlanTabs" role="tablist">
				<li class="nav-item" role="presentation">
					<a asp-action="Index" asp-controller="TrainingModules" asp-route-userId="@Model?.UserId" class="nav-link" id="back-to-list" aria-controls="training-modules" aria-selected="false">
						<i class="fa-solid fa-arrow-left">&nbsp;</i><strong>Back to Training Modules</strong>
					</a>
				</li>
				<li class="nav-item" role="presentation">
					<a class="nav-link active" data-trainingmoduleid="@Model.TrainingModuleId" id="trainingPlanListTab" data-toggle="tab" href="#trainingPlanList" role="tab" aria-controls="trainingPlanList" aria-selected="true">
						<i class="fa-solid fa-dumbbell">&nbsp;</i><strong>Training Plan List</strong>
					</a>
				</li>
				<li class="nav-item ms-auto" role="presentation">
					<a asp-action="PrintPDF" asp-route-trainingModuleId="@Model.TrainingModuleId" class="nav-link" id="print-pdf" aria-controls="training-modules" aria-selected="false">
						<i class="bi bi-file-earmark-pdf-fill">&nbsp;</i><strong>Print Training Plan</strong>
					</a>
				</li>
			</ul>
			<br />
			<div class="tab-content" id="trainingPlanTabsContent">
				<div class="tab-pane fade show active" id="trainingPlanList" role="tabpanel" aria-labelledby="trainingPlanListTtab">
				</div>
			</div>
		</div>
	</div>


<!-- MODAL FOR COPY TRAINING PLAN -->
<div class="modal fade" id="trainingPlanCopyModal" tabindex="-1" role="dialog" aria-labelledby="trainingPlanCopyModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h3 class="modal-title text-primary-decorative" id="trainingPlanCopyModalLabel">
					<strong>Copy Training Plan</strong>
				</h3>
				<button type="button" class="close btn" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body" id="trainingPlanCopyContent">
			</div>
		</div>
	</div>
</div>

<!-- MODAL FOR COMPLETING TRAINING PLAN-->
<div class="modal fade" id="trainingPlanChangeStatusModal" tabindex="-1" role="dialog" aria-labelledby="trainingPlanChangeStatusModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h3 class="modal-title text-primary-decorative" id="trainingPlanChangeStatusModalLabel">
					<strong>Change Status of Training Plan</strong>
				</h3>
				<button type="button" class="close btn" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body" id="trainingPlanChangeStatusContent">
			</div>
		</div>
	</div>
</div>

<!-- MODAL FOR TRAINING PLAN DETAILS -->
<div class="modal fade" id="trainingPlanDetailsModal" tabindex="-1" role="dialog" aria-labelledby="trainingPlanDetailsModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h3 class="modal-title text-primary-decorative" id="trainingPlanDetailsModalLabel">
					<strong>Details of Training Plan</strong>
				</h3>
				<button type="button" class="close btn" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body" id="trainingPlanDetailsContent">
			</div>
		</div>
	</div>
</div>


@section Scripts
{
	<script>
		$(function () {
			// DATATABLE INITIALIZE
			$('.table').DataTable();

			// SCRIPT TO HANDLE CLOSING MODALS
			$(document).on('click', '.close', function () {
				$(this).closest('.modal').modal('hide');
			});

			// Handle tab switch with Bootstrap Tabs
			$('#exerciseTabs a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
				e.target // newly activated tab
				e.relatedTarget // previous tab
			});

			$('a[data-toggle="tab"]').on("shown.bs.tab", function (e) {
				$($.fn.dataTable.tables(true)).DataTable().fixedHeader.adjust();
			});

			// Ładowanie zawartości dla "trainingPlanList" po załadowaniu strony
			var trainingModuleId = $('#trainingPlanListTab').data("trainingmoduleid");
			$.ajax({
				url: '@Url.Action("TrainingPlanList", "TrainingPlans")',
				type: 'GET',
				data: { trainingModuleId: trainingModuleId },
				success: function (data) {
					$('#trainingPlanList').html(data);
					$('.table').DataTable();
					$('#trainingPlanListTab').tab('show');

				},
				error: function () {
					alert("An error occurred while loading 'trainingPlanList' content.");
				}
			});

			// Handle tab click for "trainingPlanList" tab
			$('#trainingPlanListTab').on('click', function (e) {
				e.preventDefault();

				var trainingModuleId = $('#trainingPlanListTab').data("trainingmoduleid");

				$.ajax({
					url: '@Url.Action("TrainingPlanList", "TrainingPlans")',
					type: 'GET',
					data: { trainingModuleId: trainingModuleId },
					success: function (data) {
						$('#trainingPlanList').html(data);
						$('.table').DataTable();
						$('#trainingPlanListTab').tab('show');

					},
					error: function () {
						alert("An error occurred while loading 'trainingPlanList' content.");
					}
				});
			});


			// AJAX FOR LOADING TRAINING PLAN DETAILS MODAL
			$(document).on('click', '.detailsBtn', function (e) {
				e.preventDefault();

				var id = $(this).data("detailstrainingplanid");
				$.ajax({
					url: '@Url.Action("Details", "TrainingPlans")',
					type: 'GET',
					data: { id: id },
					success: function (data) {
						$('#trainingPlanDetailsContent').html(data);
						$('#trainingPlanDetailsModal').modal('show');
					},
					error: function () {
						alert("An error occurred while loading the training plan details.");
					}
				});
			});

			// AJAX FOR LOADING TRAINING PLAN CHANGE STATUS MODAL
			$(document).on('click', '.changeStatusBtn', function (e) {
				e.preventDefault();

				var completeTrainingPlanId = $(this).data("completetrainingplanid");
				var completeTrainingModuleId = $(this).data("completetrainingmoduleid");
				$.ajax({
					url: '@Url.Action("ChangeStatus", "TrainingPlans")',
					type: 'GET',
					data: { trainingPlanId: completeTrainingPlanId, trainingModuleId: completeTrainingModuleId },
					success: function (data) {
						$('#trainingPlanChangeStatusContent').html(data);
						$('#trainingPlanChangeStatusModal').modal('show');
					},
					error: function () {
						alert("An error occurred while loading the training plan change status.");
					}
				});
			});

			// AJAX FOR LOADING TRAINING PLAN COPY MODAL
			$(document).on('click', '.copyBtn', function (e) {
				e.preventDefault();

				var copyTrainingModuleId = $(this).data("copytrainingmoduleid");
				var copyFromId = $(this).data("copyfromid");
				$.ajax({
					url: '@Url.Action("Copy", "TrainingPlans")',
					type: 'GET',
					data: { trainingModuleId: copyTrainingModuleId, copyFromId: copyFromId },
					success: function (data) {
						$('#trainingPlanCopyContent').html(data);
						$('#trainingPlanCopyModal').modal('show');
					},
					error: function () {
						alert("An error occurred while loading the training plan copy.");
					}
				});
			});

		});
	</script>
}