@using TrainingPlanApp.Web.Models.TrainingPlan
@using TrainingPlanApp.Web.Constants

@model TrainingPlanManageExercisesVM

@{
	ViewData["Title"] = "ManageExercises";
}

<h1>Manage Exercises</h1>

<p>
	<a asp-action="Index" class="btn btn-dark btn-sm" asp-route-trainingModuleId="@Model?.TrainingModuleId">Back to List</a>&nbsp;
	<button class="btn btn-primary btn-sm addBtn" type="button"><i class="fa-solid fa-plus">&nbsp;</i>Add Exercise</button>
</p>

<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Exercises)
			</th>
			<th>
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Weights)
			</th>
			<th>
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Notes)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@for (int i = 0; i < Model.Exercises.Count; i++)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => Model.Indices[i]): @Html.DisplayFor(modelItem => Model.Exercises[i].Name)
				</td>
				<td>
					@Html.DisplayFor(modelItem => Model.Sets[i])x @Html.DisplayFor(modelItem => Model.Units[i])
				</td>
				<td>
					Weight: @Html.DisplayFor(modelItem => Model.Weights[i])
				</td>
				<td>
					Rest: @Html.DisplayFor(modelItem => Model.RestTimes[i])
				</td>
				<td>
					@Html.DisplayFor(modelItem => Model.Notes[i])
				</td>
				<td class="text-end">
					<button data-trainingplanid="@Model.Id" data-index="@i" data-name="@Model.Exercises[i].Name" class="btn btn-danger btn-sm removeBtn" type="button"><i class="fa-solid fa-trash">&nbsp;</i>Remove</button>
				</td>
			</tr>
		}
	</tbody>
</table>

<!-- MODAL FOR ADDING EXERCISE -->
<div class="modal fade" id="addExerciseModal" tabindex="-1" role="dialog" aria-labelledby="addExerciseModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="addExerciseModalLabel">Add Exercise</h5>
				<button type="button" class="close btn btn-dark" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form id="addForm" asp-action="ManageExercises" method="post">
					<div asp-validation-summary="ModelOnly" class="text-danger"></div>
					<div class="row">
						<div class="form-group col-md-6">
							<label asp-for="NewExerciseIndex" class="control-label"></label>
							<input asp-for="NewExerciseIndex" class="form-control" />
							<span asp-validation-for="NewExerciseIndex" class="text-danger"></span>
						</div>
						<div class="form-group col-md-6">
							<label asp-for="NewExerciseId" class="control-label"></label>
							<select asp-for="NewExerciseId" asp-items="Model?.AvailableExercises" class="form-select">
								<option>Select exercise</option>
							</select>
							<span asp-validation-for="NewExerciseId" class="text-danger"></span>
						</div>
					</div>
					<div class="row">
						<div class="form-group col-md-6">
							<label asp-for="NewExerciseSets" class="control-label"></label>
							<input asp-for="NewExerciseSets" class="form-control" />
							<span asp-validation-for="NewExerciseSets" class="text-danger"></span>
						</div>
						<div class="form-group col-md-6">
							<label asp-for="NewExerciseUnits" class="control-label"></label>
							<input asp-for="NewExerciseUnits" class="form-control" />
							<span asp-validation-for="NewExerciseUnits" class="text-danger"></span>
						</div>
					</div>
					<div class="row">
						<div class="form-group col-md-6">
							<label asp-for="NewExerciseWeight" class="control-label"></label>
							<input asp-for="NewExerciseWeight" class="form-control" />
							<span asp-validation-for="NewExerciseWeight" class="text-danger"></span>
						</div>
						<div class="form-group col-md-6">
							<label asp-for="NewExerciseRestTime" class="control-label"></label>
							<input asp-for="NewExerciseRestTime" class="form-control" />
							<span asp-validation-for="NewExerciseRestTime" class="text-danger"></span>
						</div>
					</div>
					<div class="row">
						<div class="form-group col-md-6">
							<label asp-for="NewExerciseNote" class="control-label"></label>
							<input asp-for="NewExerciseNote" class="form-control" />
							<span asp-validation-for="NewExerciseNote" class="text-danger"></span>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary" id="confirmAddBtn">Add</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
</div>

<!-- MODAL FOR EXERCISE REMOVE -->
<div class="modal fade" id="removeExerciseModal" tabindex="-1" role="dialog" aria-labelledby="removeExerciseModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="removeExerciseModalLabel">Remove Training Module</h5>
				<button type="button" class="close btn btn-dark" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form id="removeForm" asp-action="RemoveExercise">
					<input type="hidden" name="id" id="trainingPlanId" />
					<input type="hidden" name="index" id="index" />
					<p>Are you sure you want to remove this training module?</p>
					<h5 id="exerciseNameToRemove"></h5>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" id="confirmRemoveBtn">Remove</button>
			</div>

		</div>
	</div>
</div>

@section Scripts
{
	<script>
		$(function () {
			// DATATABLE INITIALIZE
			$('.table').DataTable();

			// SCRIPT TO HANDLE CLOSING MODALS
			$(document).on('click', '.close', function () {
				$(this).closest('.modal').modal('hide');
			});

			// SCRIPT TO HANDLE REMOVING EXERCISE FROM TRAINING PLAN
			$(document).on('click', '.removeBtn', function () {
				var btn = $(this);
				var trainingPlanId = btn.data("trainingplanid");
				var index = btn.data("index");
				var name = btn.data("name");

				$('#trainingPlanId').val(trainingPlanId);
				$('#index').val(index);
				$('#exerciseNameToRemove').text(name);

				$('#removeExerciseModal').modal('show');
			});

			// SCRIPT TO HANDLE REMOVING EXERCISE FROM TRAINING PLAN
			$(document).on('click', '#confirmRemoveBtn', function () {
				$('#removeForm').submit();
			});

			// SCRIPT TO HANDLE ADDING EXERCISES TO TRAINING PLAN
			$(document).on('click', '.addBtn', function () {
				$('#addExerciseModal').modal('show');
			});

			// SCRIPT TO HANDLE ADDING EXERCISE TO TRAINING PLAN
			$(document).on('click', '#confirmAddBtn', function () {
				$('#addForm').submit();
			});

		});
	</script>
}
