@using TrainingPlanApp.Web.Models.TrainingPlan
@using TrainingPlanApp.Web.Constants

@model TrainingPlanManageExercisesVM

@{
	ViewData["Title"] = "ManageExercises";
	var errorMessage = TempData["ErrorMessage"] as string;
}

<h1>Manage Exercises</h1>

<p>
	<a asp-action="Index" class="btn btn-dark btn-sm" asp-route-trainingModuleId="@Model?.TrainingModuleId">Back to List</a>&nbsp;
	<button class="btn btn-outline-primary-a btn-sm addExerciseBtn" data-addexercisetrainingplanid="@Model.Id" type="button"><i class="fa-solid fa-plus">&nbsp;</i>Add Exercise</button>
</p>

@if (!string.IsNullOrEmpty(errorMessage))
{
	<div class="alert alert-danger">
		@errorMessage
	</div>
}

<table class="table">
	<thead>
		<tr>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@for (int i = 0; i < Model.TrainingPlanExerciseDetailVMs.Count; i++)
		{
			<tr>
				<td>
					<strong>@Html.DisplayFor(modelItem => Model.TrainingPlanExerciseDetailVMs[i].Index): @Html.DisplayFor(modelItem => Model.TrainingPlanExerciseDetailVMs[i].ExerciseVM.Name)</strong>
				</td>
				<td>
					@Html.DisplayFor(modelItem => Model.TrainingPlanExerciseDetailVMs[i].Sets)x @Html.DisplayFor(modelItem => Model.TrainingPlanExerciseDetailVMs[i].Units)
				</td>
				<td>
					Weight: @Html.DisplayFor(modelItem => Model.TrainingPlanExerciseDetailVMs[i].Weight)
				</td>
				<td>
					Rest: @Html.DisplayFor(modelItem => Model.TrainingPlanExerciseDetailVMs[i].RestTime)
				</td>
				<td class="text-end">
					<button @* data-edittrainingplanid="@Model.Id"
							data-edititeration="@i"
							data-editindex="@Model.Indices[i]"
							data-edittrainingplanphaseid="@Model.TrainingPlanPhaseIds[i]"
							data-editexerciseid="@Model.ExerciseIds[i]"
							data-editsets="@Model.Sets[i]"
							data-editunits="@Model.Units[i]"
							data-editweight="@Model.Weights[i]"
							data-editresttime="@Model.RestTimes[i]"
							data-editnote="@Model.Notes[i]" *@
							class="btn btn-primary btn-sm editBtn" type="button">
						<i class="fa-solid fa-pen">&nbsp;</i>Edit
					</button>
					<button @* data-removetrainingplanid="@Model.Id"
							data-removeindex="@i"
							data-removename="@Model.ExerciseVMs[i].Name" *@
							class="btn btn-danger btn-sm removeBtn" type="button">
						<i class="fa-solid fa-trash">&nbsp;</i>Remove
					</button>
				</td>
			</tr>
		}
	</tbody>
</table>

<!-- MODAL FOR ADDING EXERCISE -->
<div class="modal fade" id="trainingPlanAddExerciseModal" tabindex="-1" role="dialog" aria-labelledby="trainingPlanAddExerciseModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="trainingPlanAddExerciseLabel">Add Exercise</h5>
				<button type="button" class="close btn btn-dark" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body" id="trainingPlanAddExerciseContent">				
			</div>
		</div>
	</div>
</div>

@* <!-- MODAL FOR EDITING EXERCISE -->
<div class="modal fade" id="editExerciseModal" tabindex="-1" role="dialog" aria-labelledby="editExerciseModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="editExerciseModalLabel">Edit Exercise</h5>
				<button type="button" class="close btn btn-dark" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form id="editForm" asp-action="EditExercise" method="post">
					<input type="hidden" name="TrainingPlanAddExerciseVM.Id" id="editTrainingPlanId" />
					<input type="hidden" name="index" id="editIteration" />
					<div class="row">
						<div class="form-group col-md-6">
							<label asp-for="TrainingPlanAddExerciseVM.ExerciseIndex" class="control-label"></label>
							<input id="editIndex" class="form-control" name="TrainingPlanAddExerciseVM.ExerciseIndex" />
							<span asp-validation-for="TrainingPlanAddExerciseVM.ExerciseIndex" class="text-danger"></span>
						</div>
						<div class="form-group col-md-6">
							<label asp-for="TrainingPlanAddExerciseVM.TrainingPlanPhaseId" class="control-label"></label>
							<select id="editTrainingPlanPhaseId" name="TrainingPlanAddExerciseVM.TrainingPlanPhaseId" class="form-select">
								@foreach (var phase in Model.TrainingPlanAddExerciseVM.AvailableTrainingPlanPhases)
								{
									<option value="@phase.Value">@phase.Text</option>
								}
							</select>
							<span asp-validation-for="TrainingPlanAddExerciseVM.TrainingPlanPhaseId" class="text-danger"></span>
						</div>
					</div>
					<div class="row">
						<div class="form-group">
							<label asp-for="TrainingPlanAddExerciseVM.ExerciseId" class="control-label"></label>
							<select id="editExerciseId" name="TrainingPlanAddExerciseVM.ExerciseId" class="form-select">
								@foreach (var exercise in Model.TrainingPlanAddExerciseVM.AvailableExercises)
								{
									<option value="@exercise.Value">@exercise.Text</option>
								}
							</select>
							<span asp-validation-for="TrainingPlanAddExerciseVM.ExerciseId" class="text-danger"></span>
						</div>
					</div>
					<div class="row">
						<div class="form-group col-md-6">
							<label asp-for="TrainingPlanAddExerciseVM.ExerciseSets" class="control-label"></label>
							<input id="editSets" class="form-control" name="TrainingPlanAddExerciseVM.ExerciseSets" />
							<span asp-validation-for="TrainingPlanAddExerciseVM.ExerciseSets" class="text-danger"></span>
						</div>
						<div class="form-group col-md-6">
							<label asp-for="TrainingPlanAddExerciseVM.ExerciseUnits" class="control-label"></label>
							<input id="editUnits" class="form-control" name="TrainingPlanAddExerciseVM.ExerciseUnits" />
							<span asp-validation-for="TrainingPlanAddExerciseVM.ExerciseUnits" class="text-danger"></span>
						</div>
					</div>
					<div class="row">
						<div class="form-group col-md-6">
							<label asp-for="TrainingPlanAddExerciseVM.ExerciseWeight" class="control-label"></label>
							<input id="editWeight" class="form-control" name="TrainingPlanAddExerciseVM.ExerciseWeight" />
							<span asp-validation-for="TrainingPlanAddExerciseVM.ExerciseWeight" class="text-danger"></span>
						</div>
						<div class="form-group col-md-6">
							<label asp-for="TrainingPlanAddExerciseVM.ExerciseRestTime" class="control-label"></label>
							<input id="editRestTime" class="form-control" name="TrainingPlanAddExerciseVM.ExerciseRestTime" />
							<span asp-validation-for="TrainingPlanAddExerciseVM.ExerciseRestTime" class="text-danger"></span>
						</div>
					</div>
					<div class="row">
						<div class="form-group col-md-12">
							<label asp-for="TrainingPlanAddExerciseVM.ExerciseNote" class="control-label"></label>
							<input id="editNote" class="form-control" name="TrainingPlanAddExerciseVM.ExerciseNote" />
							<span asp-validation-for="TrainingPlanAddExerciseVM.ExerciseNote" class="text-danger"></span>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary" id="confirmEditBtn">Edit</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div> *@

<!-- MODAL FOR EXERCISE REMOVE -->
<div class="modal fade" id="removeExerciseModal" tabindex="-1" role="dialog" aria-labelledby="removeExerciseModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="removeExerciseModalLabel">Remove Training Module</h5>
				<button type="button" class="close btn btn-dark" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form id="removeForm" asp-action="RemoveExercise">
					<input type="hidden" name="trainingPlanId" id="removeTrainingPlanId" />
					<input type="hidden" name="index" id="removeIndex" />
					<p>Are you sure you want to remove this exercise?</p>
					<h5 id="exerciseNameToRemove"></h5>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" id="confirmRemoveBtn">Remove</button>
			</div>
		</div>
	</div>
</div>

@section Scripts
{
	<script>
		$(function () {
			// DATATABLE INITIALIZE
			$('.table').DataTable();

			// SCRIPT TO HANDLE CLOSING MODALS
			$(document).on('click', '.close', function () {
				$(this).closest('.modal').modal('hide');
			});

			// AJAX FOR LOADING EXERCISE CREATE MODAL
			$(document).on('click', '.addExerciseBtn', function (e) {
				e.preventDefault();

				
				var id = $(this).data("addexercisetrainingplanid");
				$.ajax({
					url: '@Url.Action("AddExercise", "TrainingPlans")',
					type: 'GET',
					data: { id: id },
					success: function (data) {
						$('#trainingPlanAddExerciseContent').html(data);
						$('#trainingPlanADdExerciseModal').modal('show');
					},
					error: function () {
						alert("An error occurred while loading the training plan add exercise modal.");
					}
				});
			});

			// AJAX FOR LOADING EXERCISE CREATE MODAL
			$(document).on('click', '.editExerciseBtn', function (e) {
				e.preventDefault();

				
				var trainingPlanId = $(this).data("editexercisetrainingplanid");
				var exerciseDetailsId = $(this).data("editexercisetrainingplanid");
				$.ajax({
					url: '@Url.Action("EditExercise", "TrainingPlans")',
					type: 'GET',
					data: { trainingPlanId : trainingPlanId, exerciseDetailsId : exerciseDetailsId },
					success: function (data) {
						$('#trainingPlanEditExerciseContent').html(data);
						$('#trainingPlanEditExerciseModal').modal('show');
					},
					error: function () {
						alert("An error occurred while loading the training plan edit exercise modal.");
					}
				});
			});

		});
	</script>
}
