@model TrainingPlanManageExercisesVM

@{
	ViewData["Title"] = "ManageExercises";
}

<h1>Manage Exercises</h1>

<div class="row">
	<div class="col-md-12">
		<form asp-action="ManageExercises">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group col-md-4">
				<label asp-for="NewExerciseId" class="control-label"></label>
				<select asp-for="NewExerciseId" asp-items="Model?.AvailableExercises" class="form-select">
					<option>Select exercise</option>
				</select>
				<span asp-validation-for="NewExerciseId" class="text-danger"></span>
			</div>
			<div class="form-group col-md-12">
				<label asp-for="NewExerciseWeight" class="control-label"></label>
				<input asp-for="NewExerciseWeight" class="form-control" />
				<span asp-validation-for="NewExerciseWeight" class="text-danger"></span>
			</div>
			<div class="form-group col-md-12">
				<label asp-for="NewExerciseSets" class="control-label"></label>
				<input asp-for="NewExerciseSets" class="form-control" />
				<span asp-validation-for="NewExerciseSets" class="text-danger"></span>
			</div>
			<div class="form-group col-md-12">
				<label asp-for="NewExerciseRepeats" class="control-label"></label>
				<input asp-for="NewExerciseRepeats" class="form-control" />
				<span asp-validation-for="NewExerciseRepeats" class="text-danger"></span>
			</div>
			<div class="form-group col-md-12">
				<label asp-for="NewExerciseIndex" class="control-label"></label>
				<input asp-for="NewExerciseIndex" class="form-control" />
				<span asp-validation-for="NewExerciseIndex" class="text-danger"></span>
			</div>
			<div class="form-group">
				@if (Model.RedirectToAdmin)
				{
					<a asp-action="IndexAdmin" class="btn btn-dark">Back to List</a>
				}
				else if (!Model.RedirectToAdmin)
				{
					<a asp-action="Index" class="btn btn-dark">Back to List</a>
				}
				&nbsp;
				<input type="submit" value="Add" class="btn btn-primary" />
			</div>
		</form>
	</div>
</div>



<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Index)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Exercises)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Sets)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Repeats)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Weight)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@for (int i = 0; i < Model.Exercises.Count; i++)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => Model.Index[i])
				</td>
				<td>
					@Html.DisplayFor(modelItem => Model.Exercises[i].Name)
				</td>
				<td>
					@Html.DisplayFor(modelItem => Model.Sets[i])
				</td>
				<td>
					@Html.DisplayFor(modelItem => Model.Repeats[i])
				</td>
				<td>
					@Html.DisplayFor(modelItem => Model.Weight[i])
				</td>
				<td class="text-end">
					<button data-trainingplanid="@Model.Id" data-index="@i" class="btn btn-danger btn-sm deleteBtn" type="button"><i class="fa-solid fa-trash">&nbsp;</i>Delete</button>
				</td>
			</tr>
		}
	</tbody>
</table>

<form id="deleteForm" asp-action="RemoveExercise">
	<input type="hidden" id="trainingPlanId" name="trainingPlanId" />
	<input type="hidden" id="index" name="index" />
</form>

@section Scripts
{
	<script>
		$(function () {

			$('.deleteBtn').click(function (e) {
				swal(
					{
						title: "Are you sure?",
						text: "Are you sure you want to delete this record?",
						icon: "warning",
						buttons: true,
						dangerMode: true
					}
				).then((confirm) => {
					if (confirm) {
						var btn = $(this);
						var trainingPlanId = btn.data("trainingplanid");
						var index = btn.data("index");
						$('#trainingPlanId').val(trainingPlanId);
						$('#index').val(index);
						$('#deleteForm').submit();
					}
				}
				);
			});
		});
	</script>
}
