@using TrainingPlanApp.Web.Models.TrainingPlan
@using TrainingPlanApp.Web.Constants

@model TrainingPlanManageExercisesVM

@{
	ViewData["Title"] = "ManageExercises";
}

<h1>Manage Exercises</h1>

<p>
	<a asp-action="Index" class="btn btn-dark btn-sm" asp-route-trainingModuleId="@Model?.TrainingModuleId">Back to List</a>&nbsp;
	<button class="btn btn-primary btn-sm addBtn" data-addtrainingplanid="@Model.Id" type="button"><i class="fa-solid fa-plus">&nbsp;</i>Add Exercise</button>
</p>

<table class="table">
	<thead>
		<tr>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@for (int i = 0; i < Model.Exercises.Count; i++)
		{
			<tr>
				<td>
					<strong>@Html.DisplayFor(modelItem => Model.Indices[i]): @Html.DisplayFor(modelItem => Model.Exercises[i].Name)</strong>
				</td>
				<td>
					@Html.DisplayFor(modelItem => Model.Sets[i])x @Html.DisplayFor(modelItem => Model.Units[i])
				</td>
				<td>
					Weight: @Html.DisplayFor(modelItem => Model.Weights[i])
				</td>
				<td>
					Rest: @Html.DisplayFor(modelItem => Model.RestTimes[i])
				</td>
				<td class="text-end">
					<button data-edittrainingplanid="@Model.Id"
							data-edititeration="@i"
							data-editindex="@Model.Indices[i]"
							data-editexerciseid="@Model.ExerciseIds[i]"
							data-editsets="@Model.Sets[i]"
							data-editunits="@Model.Units[i]"
							data-editweight="@Model.Weights[i]"
							data-editresttime="@Model.RestTimes[i]"
							data-editnote="@Model.Notes[i]"
							class="btn btn-primary btn-sm editBtn" type="button">
						<i class="fa-solid fa-pen">&nbsp;</i>Edit
					</button>
					<button data-removetrainingplanid="@Model.Id"
							data-removeindex="@i"
							data-removename="@Model.Exercises[i].Name"
							class="btn btn-danger btn-sm removeBtn" type="button">
						<i class="fa-solid fa-trash">&nbsp;</i>Remove
					</button>
				</td>
			</tr>
		}
	</tbody>
</table>

<!-- MODAL FOR ADDING EXERCISE -->
<div class="modal fade" id="addExerciseModal" tabindex="-1" role="dialog" aria-labelledby="addExerciseModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="addExerciseModalLabel">Add Exercise</h5>
				<button type="button" class="close btn btn-dark" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form id="addForm" asp-action="AddExercise" method="post">
					<input type="hidden" name="TrainingPlanAddExerciseVM.Id" id="addTrainingPlanId" />
					<div class="row">
						<div class="form-group col-md-6">
							<label asp-for="TrainingPlanAddExerciseVM.ExerciseIndex" class="control-label"></label>
							<input asp-for="TrainingPlanAddExerciseVM.ExerciseIndex" class="form-control" />
							<span asp-validation-for="TrainingPlanAddExerciseVM.ExerciseIndex" class="text-danger"></span>
						</div>
						<div class="form-group col-md-6">
							<label asp-for="TrainingPlanAddExerciseVM.ExerciseId" class="control-label"></label>
							<select asp-for="TrainingPlanAddExerciseVM.ExerciseId" asp-items="Model?.TrainingPlanAddExerciseVM.AvailableExercises" class="form-select">
								<option>Select exercise</option>
							</select>
							<span asp-validation-for="TrainingPlanAddExerciseVM.ExerciseId" class="text-danger"></span>
						</div>
					</div>
					<div class="row">
						<div class="form-group col-md-6">
							<label asp-for="TrainingPlanAddExerciseVM.ExerciseSets" class="control-label"></label>
							<input asp-for="TrainingPlanAddExerciseVM.ExerciseSets" class="form-control" />
							<span asp-validation-for="TrainingPlanAddExerciseVM.ExerciseSets" class="text-danger"></span>
						</div>
						<div class="form-group col-md-6">
							<label asp-for="TrainingPlanAddExerciseVM.ExerciseUnits" class="control-label"></label>
							<input asp-for="TrainingPlanAddExerciseVM.ExerciseUnits" class="form-control" />
							<span asp-validation-for="TrainingPlanAddExerciseVM.ExerciseUnits" class="text-danger"></span>
						</div>
					</div>
					<div class="row">
						<div class="form-group col-md-6">
							<label asp-for="TrainingPlanAddExerciseVM.ExerciseWeight" class="control-label"></label>
							<input asp-for="TrainingPlanAddExerciseVM.ExerciseWeight" class="form-control" />
							<span asp-validation-for="TrainingPlanAddExerciseVM.ExerciseWeight" class="text-danger"></span>
						</div>
						<div class="form-group col-md-6">
							<label asp-for="TrainingPlanAddExerciseVM.ExerciseRestTime" class="control-label"></label>
							<input asp-for="TrainingPlanAddExerciseVM.ExerciseRestTime" class="form-control" />
							<span asp-validation-for="TrainingPlanAddExerciseVM.ExerciseRestTime" class="text-danger"></span>
						</div>
					</div>
					<div class="row">
						<div class="form-group col-md-12">
							<label asp-for="TrainingPlanAddExerciseVM.ExerciseNote" class="control-label"></label>
							<input asp-for="TrainingPlanAddExerciseVM.ExerciseNote" class="form-control" />
							<span asp-validation-for="TrainingPlanAddExerciseVM.ExerciseNote" class="text-danger"></span>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary" id="confirmAddBtn">Add</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

<!-- MODAL FOR EDITING EXERCISE -->
<div class="modal fade" id="editExerciseModal" tabindex="-1" role="dialog" aria-labelledby="editExerciseModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="editExerciseModalLabel">Edit Exercise</h5>
				<button type="button" class="close btn btn-dark" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form id="editForm" asp-action="EditExercise" method="post">
					<input type="hidden" name="TrainingPlanAddExerciseVM.TrainingPlanId" id="editTrainingPlanId" />
					<input type="hidden" name="index" id="editIteration" />
					<div class="row">
						<div class="form-group col-md-6">
							<label asp-for="TrainingPlanAddExerciseVM.ExerciseIndex" class="control-label"></label>
							<input id="editIndex" class="form-control" name="TrainingPlanAddExerciseVM.NewExerciseIndex" />
							<span asp-validation-for="TrainingPlanAddExerciseVM.ExerciseIndex" class="text-danger"></span>
						</div>
						<div class="form-group col-md-6">
							<label asp-for="TrainingPlanAddExerciseVM.ExerciseId" class="control-label"></label>
							<select id="editExerciseId" name="TrainingPlanAddExerciseVM.NewExerciseId" class="form-select">
								@foreach (var exercise in Model.TrainingPlanAddExerciseVM.AvailableExercises)
								{
									<option value="@exercise.Value">@exercise.Text</option>
								}
							</select>
							<span asp-validation-for="TrainingPlanAddExerciseVM.ExerciseId" class="text-danger"></span>
						</div>
					</div>
					<div class="row">
						<div class="form-group col-md-6">
							<label asp-for="TrainingPlanAddExerciseVM.ExerciseSets" class="control-label"></label>
							<input id="editSets" class="form-control" name="TrainingPlanAddExerciseVM.NewExerciseSets" />
							<span asp-validation-for="TrainingPlanAddExerciseVM.ExerciseSets" class="text-danger"></span>
						</div>
						<div class="form-group col-md-6">
							<label asp-for="TrainingPlanAddExerciseVM.ExerciseUnits" class="control-label"></label>
							<input id="editUnits" class="form-control" name="TrainingPlanAddExerciseVM.NewExerciseUnits" />
							<span asp-validation-for="TrainingPlanAddExerciseVM.ExerciseUnits" class="text-danger"></span>
						</div>
					</div>
					<div class="row">
						<div class="form-group col-md-6">
							<label asp-for="TrainingPlanAddExerciseVM.ExerciseWeight" class="control-label"></label>
							<input id="editWeight" class="form-control" name="TrainingPlanAddExerciseVM.NewExerciseWeight" />
							<span asp-validation-for="TrainingPlanAddExerciseVM.ExerciseWeight" class="text-danger"></span>
						</div>
						<div class="form-group col-md-6">
							<label asp-for="TrainingPlanAddExerciseVM.ExerciseRestTime" class="control-label"></label>
							<input id="editRestTime" class="form-control" name="TrainingPlanAddExerciseVM.NewExerciseRestTime" />
							<span asp-validation-for="TrainingPlanAddExerciseVM.ExerciseRestTime" class="text-danger"></span>
						</div>
					</div>
					<div class="row">
						<div class="form-group col-md-12">
							<label asp-for="TrainingPlanAddExerciseVM.ExerciseNote" class="control-label"></label>
							<input id="editNote" class="form-control" name="TrainingPlanAddExerciseVM.NewExerciseNote" />
							<span asp-validation-for="TrainingPlanAddExerciseVM.ExerciseNote" class="text-danger"></span>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary" id="confirmEditBtn">Edit</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

<!-- MODAL FOR EXERCISE REMOVE -->
<div class="modal fade" id="removeExerciseModal" tabindex="-1" role="dialog" aria-labelledby="removeExerciseModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="removeExerciseModalLabel">Remove Training Module</h5>
				<button type="button" class="close btn btn-dark" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form id="removeForm" asp-action="RemoveExercise">
					<input type="hidden" name="trainingPlanId" id="removeTrainingPlanId" />
					<input type="hidden" name="index" id="removeIndex" />
					<p>Are you sure you want to remove this training module?</p>
					<h5 id="exerciseNameToRemove"></h5>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" id="confirmRemoveBtn">Remove</button>
			</div>
		</div>
	</div>
</div>

@section Scripts
{
	<script>
		$(function () {
			// DATATABLE INITIALIZE
			$('.table').DataTable();

			// SCRIPT TO HANDLE CLOSING MODALS
			$(document).on('click', '.close', function () {
				$(this).closest('.modal').modal('hide');
			});

			// SCRIPT TO HANDLE REMOVING EXERCISE FROM TRAINING PLAN
			$(document).on('click', '.removeBtn', function () {
				var btn = $(this);
				var removeTrainingPlanId = btn.data("removetrainingplanid");
				var removeIndex = btn.data("removeindex");
				var removeName = btn.data("removename");

				$('#removeTrainingPlanId').val(removeTrainingPlanId);
				$('#removeIndex').val(removeIndex);
				$('#exerciseNameToRemove').text(removeName);

				$('#removeExerciseModal').modal('show');
			});

			// SCRIPT TO HANDLE REMOVING EXERCISE FROM TRAINING PLAN
			$(document).on('click', '#confirmRemoveBtn', function () {
				$('#removeForm').submit();
			});

			// SCRIPT TO HANDLE EDITING EXERCISE TO TRAINING PLAN
			$(document).on('click', '.editBtn', function () {
				var btn = $(this);
				var editIteration = btn.data("edititeration");
				var editTrainingPlanId = btn.data("edittrainingplanid");
				var editIndex = btn.data("editindex");
				var editExerciseId = btn.data("editexerciseid");
				var editSets = btn.data("editsets");
				var editUnits = btn.data("editunits");
				var editWeight = btn.data("editweight");
				var editRestTime = btn.data("editresttime");
				var editNote = btn.data("editnote");

				$('#editIteration').val(editIteration);
				$('#editTrainingPlanId').val(editTrainingPlanId);
				$('#editIndex').val(editIndex);
				$('#editExerciseId').val(editExerciseId);
				$('#editSets').val(editSets);
				$('#editUnits').val(editUnits);
				$('#editWeight').val(editWeight);
				$('#editRestTime').val(editRestTime);
				$('#editNote').val(editNote);

				$('#editExerciseModal').modal('show');
			});
			
			// SCRIPT TO HANDLE EDITING EXERCISES TO TRAINING PLAN
			$(document).on('click', '#confirmEditBtn', function () {
				$('#editForm').submit();
			});

			// SCRIPT TO HANDLE ADDING EXERCISES TO TRAINING PLAN
			$(document).on('click', '.addBtn', function () {
				var btn = $(this);
				var addTrainingPlanId = btn.data("addtrainingplanid");

				$('#addTrainingPlanId').val(addTrainingPlanId);

				$('#addExerciseModal').modal('show');
			});

			// SCRIPT TO HANDLE ADDING EXERCISE TO TRAINING PLAN
			$(document).on('click', '#confirmAddBtn', function () {
				$('#addForm').submit();
			});

		});
	</script>
}
