@model MealDetailsVM

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div class="row">
    <!-- Kolumna dla szczegółów posiłku -->
    <div class="col-md-6">
        <h4>Meal</h4>
        <dl class="row">
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Recipe)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Recipe)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Kcal)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Kcal)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Proteins)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Proteins)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Fats)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Fats)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Carbohydrates)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Carbohydrates)
            </dd>
        </dl>
    </div>

    <!-- Kolumna dla tabeli składników -->
    <div class="col-md-6">
        <h4>Ingredients</h4>
        <table class="table">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Ingredients)</th>
                    <th>@Html.DisplayNameFor(model => model.IngredientQuantities)</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.IngredientIds.Count; i++)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => Model.Ingredients[i].Name)</td>
                        <td>@Html.DisplayFor(modelItem => Model.IngredientQuantities[i])</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-dark">Back to List</a> &nbsp;
    <a asp-action="Edit" class="btn btn-primary" asp-route-id="@Model?.Id">Edit</a>
</div>
