@model MealVM

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Meal</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Kcal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Kcal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Proteins)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Proteins)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fats)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fats)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Carbohydrates)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Carbohydrates)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index" class="btn btn-dark">Back to List</a>  &nbsp;
    <a asp-action="Edit" class="btn btn-primary" asp-route-id="@Model?.Id">Edit</a>
</div>
