@using EliteAthleteApp.Models.Meal
@using EliteAthleteApp.Constants

@model MealIndexVM

@{
	ViewData["Title"] = "Index";
	var errorMessage = TempData["ErrorMessage"] as string;
}

<div class="container">
	<div class="row">
		<div class="col-md-5">
			<h1>All Meals</h1>
			<table class="table">
				<thead>
					<tr>
						<th>
						</th>
						<th>
						</th>
						<th>
						</th>
						<th>
						</th>
						<th>
						</th>
						<th>
						</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					@foreach (var item in Model.MealVMs)
					{
						@if (item.DieticianId == null)
						{
							<tr>
								<td>
									@Html.DisplayFor(modelItem => item.Name)
								</td>
								<td>
									@Html.DisplayFor(modelItem => item.MealCategory.Name)
								</td>
								<td>
									Kcal: @Html.DisplayFor(modelItem => item.Kcal)
								</td>
								<td>
									P: @item.Proteins.ToString("F1")
								</td>
								<td>
									C: @item.Carbohydrates.ToString("F1")
								</td>
								<td>
									F: @item.Fats.ToString("F1")
								</td>
								<td class="text-end">
									<button data-detailsmealname="@item.Name"
											data-detailsmealkcal="@item.Kcal"
											data-detailsmealproteins="@item.Proteins"
											data-detailsmealcarbohydrates="@item.Carbohydrates"
											data-detailsmealfats="@item.Fats"
											data-detailsmealfibres="@item.Fibres"
											data-detailsmealrecipe="@item.Recipe"
											data-detailsmealimageurl="@item.ImageUrl"
											class="btn btn-primary btn-sm detailsBtn" type="button">
										<i class="fa-solid fa-pen">&nbsp;</i>Details
									</button>
								</td>
							</tr>
						}
					}
				</tbody>
			</table>
		</div>
		<div class="col-md-7">
			<h1>My Meals &nbsp;<button data-createdieticianid="@Model.DieticianId" class="btn btn-primary btn-sm createBtn" type="button"><i class="fa-solid fa-plus">&nbsp;</i>Create New Meal</button></h1>
			@if (!string.IsNullOrEmpty(errorMessage))
			{
				<div class="alert alert-danger">
					@errorMessage
				</div>
			}
			<table class="table">
				<thead>
					<tr>
						<th>
						</th>
						<th>
						</th>
						<th>
						</th>
						<th>
						</th>
						<th>
						</th>
						<th>
						</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					@foreach (var item in Model.MealVMs)
					{
						@if (item.DieticianId == Model.DieticianId)
						{
							<tr>
								<td>
									@Html.DisplayFor(modelItem => item.Name)
								</td>
								<td>
									@Html.DisplayFor(modelItem => item.MealCategory.Name)
								</td>
								<td>
									Kcal: @Html.DisplayFor(modelItem => item.Kcal)
								</td>
								<td>
									P: @item.Proteins.ToString("F1")
								</td>
								<td>
									C: @item.Carbohydrates.ToString("F1")
								</td>
								<td>
									F: @item.Fats.ToString("F1")
								</td>
								<td class="text-end">
									<button data-detailsmealname="@item.Name"
											data-detailsmealkcal="@item.Kcal"
											data-detailsmealproteins="@item.Proteins"
											data-detailsmealcarbohydrates="@item.Carbohydrates"
											data-detailsmealfats="@item.Fats"
											data-detailsmealfibres="@item.Fibres"
											data-detailsmealrecipe="@item.Recipe"
											data-detailsmealimageurl="@item.ImageUrl"
											class="btn btn-primary btn-sm detailsBtn" type="button">
										<i class="fa-solid fa-circle-info">&nbsp;</i>Details
									</button>
									<a asp-action="ManageIngredients" class="btn btn-secondary btn-sm" asp-route-id="@item.Id"><i class="fa-solid fa-pen">&nbsp;</i>Ingredients</a>
								</td>
							</tr>
						}
					}
				</tbody>
			</table>
		</div>
	</div>
</div>

<!-- MODAL FOR MEAL CREATE -->
<div class="modal fade" id="createMealModal" tabindex="-1" role="dialog" aria-labelledby="createMealModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="createMealModalLabel">Create New Meal</h5>
				<button type="button" class="close btn btn-dark" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form id="createForm" asp-action="Create" method="post" enctype="multipart/form-data">
					<input type="hidden" name="MealCreateVM.DieticianId" value="@Model.DieticianId" />
					<div class="form-group">
						<label asp-for="MealCreateVM.Name" class="control-label"></label>
						<input asp-for="MealCreateVM.Name" class="form-control" />
						<span asp-validation-for="MealCreateVM.Name" class="text-danger"></span>
					</div>
					<div class="form-group">
						<label asp-for="MealCreateVM.Recipe" class="control-label"></label>
						<input asp-for="MealCreateVM.Recipe" class="form-control" />
						<span asp-validation-for="MealCreateVM.Recipe" class="text-danger"></span>
					</div>
					<div class="form-group">
						<label asp-for="MealCreateVM.MealCategoryId" class="control-label"></label>
						<select asp-for="MealCreateVM.MealCategoryId" asp-items="@Model.MealCreateVM.AvailableCategories" class="form-select">
						</select>
						<span asp-validation-for="MealCreateVM.MealCategoryId" class="text-danger"></span>
					</div>                   
					<div class="form-group">
						<label for="imageUpload" class="control-label">Upload Image</label>
						<input type="file" name="imageUpload" class="form-control" id="imageUpload" accept="image/*" />
					</div>
					<div class="form-group form-check">
						<input type="checkbox" asp-for="MealCreateVM.SetAsPublic" class="form-check-input" id="setAsPublicCheckbox" />
						<label class="form-check-label" asp-for="MealCreateVM.SetAsPublic">Set as public</label>
						<span asp-validation-for="MealCreateVM.SetAsPublic" class="text-danger"></span>
					</div>
					<div class="form-group">
						<button type="submit" class="btn btn-primary" id="submitCreateForm">Create</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

<!-- MODAL FOR MEAL DETAILS -->
<div class="modal fade" id="mealDetailsModal" tabindex="-1" role="dialog" aria-labelledby="mealDetailsModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="mealDetailsModalLabel">meal Details</h5>
				<button type="button" class="close btn btn-dark" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div>
					<h3>Image:</h3>
					<img id="detailsMealImageUrl" alt="Meal Image" style="max-width: 300px; max-height: 300px;" />
				</div>
				<h4 id="detailsMealName"></h4>
				<h4 id="detailsMealKcal"></h4>
				<h4 id="detailsMealProteins"></h4>
				<h4 id="detailsMealCarbohydrates"></h4>
				<h4 id="detailsMealFats"></h4>
				<h4 id="detailsMealFibres"></h4>
				<h4 id="detailsMealRecipe"></h4>
			</div>
		</div>
	</div>
</div>

@section Scripts
{
	<script>
		$(function () {
			// DATATABLE INITIALIZE
			$('.table').DataTable();

			// SCRIPT TO HANDLE CLOSING MODALS
			$(document).on('click', '.close', function () {
				$(this).closest('.modal').modal('hide');
			});

			// SCRIPT TO HANDLE CREATING MEALS
			$(document).on('click', '.createBtn', function () {
				var btn = $(this);
				var createDieticianId = btn.data("createdieticianid");

				$('#createDieticianId').val(createDieticianId);

				$('#createMealModal').modal('show');
			});

			// SCRIPT TO HANDLE CREATING CONFIRMATION
			$(document).on('click', '#confirmCreateBtn', function () {
				$('#createForm').submit();
			});

			// SCRIPT TO HANDLE DISPLAYING DETAILS
			$(document).on('click', '.detailsBtn', function () {
				var btn = $(this);

				var detailsMealName = btn.data("detailsmealname");
				var detailsMealKcal = btn.data("detailsmealkcal");
				var detailsMealProteins = btn.data("detailsmealproteins");
				var detailsMealCarbohydrates = btn.data("detailsmealcarbohydrates");
				var detailsMealFats = btn.data("detailsmealfats");
				var detailsMealFibres = btn.data("detailsmealfibres");
				var detailsMealRecipe = btn.data("detailsmealrecipe");
				var detailsMealImageUrl = btn.data("detailsmealimageurl");

				$('#detailsMealName').text(detailsMealName);
				$('#detailsMealKcal').text(detailsMealKcal);
				$('#detailsMealProteins').text(detailsMealProteins);
				$('#detailsMealCarbohydrates').text(detailsMealCarbohydrates);
				$('#detailsMealFats').text(detailsMealFats);
				$('#detailsMealFibres').text(detailsMealFibres);
				$('#detailsMealRecipe').text(detailsMealRecipe);
				$('#detailsMealImageUrl').attr('src', detailsMealImageUrl);

				$('#mealDetailsModal').modal('show');
			});
		});
	</script>
}

