@using TrainingPlanApp.Web.Models.Meal
@using TrainingPlanApp.Web.Constants

@model MealIndexVM

@{
    ViewData["Title"] = "Index";
}


<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h1>All Meals</h1>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.MealVMs.First().Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.MealVMs.First().Kcal)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.MealVMs.First().Proteins)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.MealVMs.First().Carbohydrates)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.MealVMs.First().Fats)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.MealVMs)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Kcal)
                            </td>
                            <td>
                                @item.Proteins.ToString("F1")
                            </td>
                            <td>
                                @item.Carbohydrates.ToString("F1")
                            </td>
                            <td>
                                @item.Fats.ToString("F1")
                            </td>
                            <td class="text-end">
                                <a asp-action="Details" class="btn btn-secondary btn-sm" asp-route-id="@item.Id"><i class="fa-solid fa-circle-info">&nbsp;</i>Details</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="col-md-6">
        </div>
    </div>
</div>

<form id="deleteForm" asp-action="Delete">
    <input type="hidden" id="mealId" name="Id" />
</form>

@section Scripts
{
    <script>
        $(function () {
            $('.table').DataTable();

            $('.deleteBtn').click(function (e) {
                swal(
                    {
                        title: "Are you sure?",
                        text: "Are you sure you want to delete this record?",
                        icon: "warning",
                        buttons: true,
                        dangerMode: true
                    }
                ).then((confirm) => {
                    if (confirm) {
                        var btn = $(this);
                        var id = btn.data("id");
                        $('#mealId').val(id);
                        $('#deleteForm').submit();
                    }
                }
                );
            });
        });
    </script>
}