@model MealManageIngredientsVM

@{
	ViewData["Title"] = "ManageIngredients";
}

<h1>Manage Ingredients</h1>

<div class="row">
	<div class="col-md-12">
		<form asp-action="ManageIngredients">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group col-md-4">
				<label asp-for="NewIngredientId" class="control-label"></label>
				<select asp-for="NewIngredientId" asp-items="Model?.AvailableIngredients" class="form-select">
					<option>Select Ingredient</option>
				</select>
				<span asp-validation-for="NewIngredientId" class="text-danger"></span>
			</div>
			<div class="form-group col-md-12">
				<label asp-for="NewIngredientQuantity" class="control-label"></label>
				<input asp-for="NewIngredientQuantity" class="form-control" />
				<span asp-validation-for="NewIngredientQuantity" class="text-danger"></span>
			</div>
			<div class="form-group">
				@if (Model.RedirectToAdmin)
				{
					<a asp-action="IndexAdmin" class="btn btn-dark">Back to List</a>
				}
				else if (!Model.RedirectToAdmin)
				{
					<a asp-action="Index" class="btn btn-dark">Back to List</a>
				}
				&nbsp;
				<input type="submit" value="Add" class="btn btn-primary" />
			</div>
		</form>
	</div>
</div>



<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Ingredients)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.IngredientQuantities)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@for (int i = 0; i < Model.Ingredients.Count; i++)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => Model.Ingredients[i].Name)
				</td>
				<td>
					@Html.DisplayFor(modelItem => Model.IngredientQuantities[i])
				</td>
				<td class="text-end">
					<button data-mealid="@Model.Id" data-index="@i" class="btn btn-danger btn-sm deleteBtn" type="button"><i class="fa-solid fa-trash">&nbsp;</i>Delete</button>
				</td>
			</tr>
		}
	</tbody>
</table>

<form id="deleteForm" asp-action="RemoveIngredient">
	<input type="hidden" id="mealId" name="mealId" />
	<input type="hidden" id="index" name="index" />
</form>

@section Scripts
{
	<script>
		$(function () {

			$('.deleteBtn').click(function (e) {
				swal(
					{
						title: "Are you sure?",
						text: "Are you sure you want to delete this record?",
						icon: "warning",
						buttons: true,
						dangerMode: true
					}
				).then((confirm) => {
					if (confirm) {
						var btn = $(this);
						var mealId = btn.data("mealid");
						var index = btn.data("index");
						$('#mealId').val(mealId);
						$('#index').val(index);
						$('#deleteForm').submit();
					}
				}
				);
			});
		});
	</script>
}
