@using EliteAthleteApp.Models.Meal
@using EliteAthleteApp.Constants

@model MealManageIngredientsVM

@{
	ViewData["Title"] = "ManageIngredients";
	var errorMessage = TempData["ErrorMessage"] as string;
}

<h1>Edit @Model.Name (@Model.MealCategory.Name)</h1>

<p>
	<a asp-action="Index" class="btn btn-dark btn-sm">Back to List</a>&nbsp;
	<button class="btn btn-primary btn-sm addBtn" data-addmealid="@Model.Id" type="button"><i class="fa-solid fa-plus">&nbsp;</i>Add Ingredient</button>
	<button class="btn btn-primary btn-sm createIngredientBtn" data-createingredientdieticianid="@Model.DieticianId" type="button"><i class="fa-solid fa-plus">&nbsp;</i>Create New Ingredient</button>
	<button data-editmealid="@Model.Id"
			data-editmealname="@Model.Name"
			data-editmealrecipe="@Model.Recipe"
			data-editmealcategoryid="@Model.MealCategoryId"
			data-editmealimageurl="@Model.ImageUrl"
			class="btn btn-primary btn-sm editBtn" type="button">
		<i class="fa-solid fa-pen">&nbsp;</i>Edit Meal
	</button>
	<button data-deletemealid="@Model.Id"
			data-deletemealname="@Model.Name"
			class="btn btn-danger btn-sm deleteBtn" type="button">
		<i class="fa-solid fa-trash">&nbsp;</i>Remove Meal
	</button>
</p>

<div>
	<h3>Image:</h3>
	<img src="@Model.ImageUrl" alt="Meal Image" style="max-width: 300px; max-height: 300px;" />
</div>
<h3>Recipe</h3>
<p>@Model.Recipe</p>

@if (!string.IsNullOrEmpty(errorMessage))
{
	<div class="alert alert-danger">
		@errorMessage
	</div>
}
<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Ingredients)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.IngredientQuantities)
			</th>
			<th>
			</th>
			<th>
			</th>
			<th>
			</th>
			<th>
			</th>
			<th>
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@for (int i = 0; i < Model.IngredientIds.Count; i++)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => Model.Ingredients[i].Name)
				</td>
				<td>
					@Html.DisplayFor(modelItem => Model.IngredientQuantities[i])
				</td>
				<td>
					Kcal: @Html.DisplayFor(modelItem => Model.IngredientKcal[i])
				</td>
				<td>
					Proteins: @Model.IngredientProteins[i].ToString("F1")
				</td>
				<td>
					Carbs: @Model.IngredientCarbohydrates[i].ToString("F1")
				</td>
				<td>
					Fats: @Model.IngredientFats[i].ToString("F1")
				</td>
				<td>
					Fibres: @Model.IngredientFibres[i].ToString("F1")
				</td>
				<td class="text-end">
					<button data-removeingredientmealid="@Model.Id"
							data-removeingredientindex="@i"
							data-removeingredientname="@Model.Ingredients[i].Name"
							class="btn btn-danger btn-sm removeBtn" type="button">
						<i class="fa-solid fa-trash">&nbsp;</i>Remove
					</button>
				</td>
			</tr>
		}
		<tr>
			<td>
				<Strong>Total</Strong>
			</td>
			<td>
				<Strong></Strong>
			</td>
			<td>
				<Strong>Kcal: @Html.DisplayFor(model => model.Kcal)</Strong>
			</td>
			<td>
				<Strong>Proteins: @Model.Proteins.ToString("F1")</Strong>
			</td>
			<td>
				<Strong>Carbs: @Model.Carbohydrates.ToString("F1")</Strong>
			</td>
			<td>
				<Strong>Fats: @Model.Fats.ToString("F1")</Strong>
			</td>
			<td>
				<Strong>Fibres: @Model.Fibres.ToString("F1")</Strong>
			</td>
			<td></td>
		</tr>
	</tbody>
</table>


<!-- MODAL FOR ADDING INGREDIENT -->
<div class="modal fade" id="addIngredientModal" tabindex="-1" role="dialog" aria-labelledby="addIngredientModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="addIngredientModalLabel">Add Ingredient</h5>
				<button type="button" class="close btn btn-dark" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form id="addForm" asp-action="AddIngredient" method="post">
					<input type="hidden" name="Id" id="addMealId" />
					<div class="form-group">
						<label asp-for="NewIngredientId" class="control-label"></label>
						<select asp-for="NewIngredientId" asp-items="Model?.AvailableIngredients" class="form-select">
							<option>Select Ingredient</option>
						</select>
						<span asp-validation-for="NewIngredientId" class="text-danger"></span>
					</div>
					<div class="form-group">
						<label asp-for="NewIngredientQuantity" class="control-label"></label>
						<input asp-for="NewIngredientQuantity" class="form-control" />
						<span asp-validation-for="NewIngredientQuantity" class="text-danger"></span>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary" id="confirmAddBtn">Add</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>


<!-- MODAL FOR INGREDIENT REMOVE -->
<div class="modal fade" id="removeIngredientModal" tabindex="-1" role="dialog" aria-labelledby="removeIngredientModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="removeIngredientModalLabel">Remove Ingredient</h5>
				<button type="button" class="close btn btn-dark" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form id="removeForm" asp-action="RemoveIngredient">
					<input type="hidden" name="mealId" id="removeMealId" />
					<input type="hidden" name="index" id="removeIndex" />
					<p>Are you sure you want to remove this ingredient?</p>
					<h5 id="removeName"></h5>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" id="confirmRemoveBtn">Remove</button>
			</div>
		</div>
	</div>
</div>

<!-- MODAL FOR INGREDIENT CREATE -->
<div class="modal fade" id="createIngredientModal" tabindex="-1" role="dialog" aria-labelledby="createIngredientModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="createIngredientModalLabel">Create New Ingredient</h5>
				<button type="button" class="close btn btn-dark" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form id="createForm" asp-action="Create" asp-controller="Ingredients" method="post">
					<input type="hidden" name="IngredientCreateVM.DieticianId" value="@Model.DieticianId" />
					<input type="hidden" name="IngredientCreateVM.Redirect" value="Meals" />
					<input type="hidden" name="id" value="@Model.Id" />
					<div class="form-group">
						<label asp-for="IngredientCreateVM.Name" class="control-label"></label>
						<input asp-for="IngredientCreateVM.Name" class="form-control" />
						<span asp-validation-for="IngredientCreateVM.Name" class="text-danger"></span>
					</div>
					<div class="form-group">
						<label asp-for="IngredientCreateVM.IngredientCategoryId" class="control-label"></label>
						<select asp-for="IngredientCreateVM.IngredientCategoryId" asp-items="@Model.IngredientCreateVM.AvailableCategories" class="form-select">
						</select>
						<span asp-validation-for="IngredientCreateVM.IngredientCategoryId" class="text-danger"></span>
					</div>
					<div class="form-group">
						<label asp-for="IngredientCreateVM.Proteins" class="control-label"></label>
						<input asp-for="IngredientCreateVM.Proteins" class="form-control" />
						<span asp-validation-for="IngredientCreateVM.Proteins" class="text-danger"></span>
					</div>
					<div class="form-group">
						<label asp-for="IngredientCreateVM.Carbohydrates" class="control-label"></label>
						<input asp-for="IngredientCreateVM.Carbohydrates" class="form-control" />
						<span asp-validation-for="IngredientCreateVM.Carbohydrates" class="text-danger"></span>
					</div>
					<div class="form-group">
						<label asp-for="IngredientCreateVM.Fats" class="control-label"></label>
						<input asp-for="IngredientCreateVM.Fats" class="form-control" />
						<span asp-validation-for="IngredientCreateVM.Fats" class="text-danger"></span>
					</div>
					<div class="form-group">
						<label asp-for="IngredientCreateVM.Fibres" class="control-label"></label>
						<input asp-for="IngredientCreateVM.Fibres" class="form-control" />
						<span asp-validation-for="IngredientCreateVM.Fibres" class="text-danger"></span>
					</div>
					<div class="form-group">
						<label asp-for="IngredientCreateVM.SuggestedPortion" class="control-label"></label>
						<input asp-for="IngredientCreateVM.SuggestedPortion" class="form-control" />
						<span asp-validation-for="IngredientCreateVM.SuggestedPortion" class="text-danger"></span>
					</div>
					<div class="form-group form-check">
						<input type="checkbox" asp-for="IngredientCreateVM.SetAsPublic" class="form-check-input" id="setAsPublicCheckbox" />
						<label class="form-check-label" asp-for="IngredientCreateVM.SetAsPublic">Set as public</label>
						<span asp-validation-for="IngredientCreateVM.SetAsPublic" class="text-danger"></span>
					</div>
					<div class="form-group">
						<button type="submit" class="btn btn-primary" id="confirmCreateIngredientBtn">Create</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

<!-- MODAL FOR MEAL DELETE -->
<div class="modal fade" id="deleteMealModal" tabindex="-1" role="dialog" aria-labelledby="deleteMealModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="deleteMealModalLabel">Delete</h5>
				<button type="button" class="close btn btn-dark" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form id="deleteForm" asp-action="Delete">
					<input type="hidden" id="deleteMealId" name="Id" />
					<p>Are you sure you want to delete this meal?</p>
					<h5 id="deleteMealName"></h5>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" id="confirmDeleteBtn">Delete</button>
			</div>
		</div>
	</div>
</div>

<!-- MODAL FOR EDITING MEAL -->
<div class="modal fade" id="editMealModal" tabindex="-1" role="dialog" aria-labelledby="editMealModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="editMealModalLabel">Edit Meal</h5>
				<button type="button" class="close btn btn-dark" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form id="editForm" asp-action="Edit" method="post" enctype="multipart/form-data">
					<input type="hidden" name="MealCreateVM.Id" value="@Model.Id"/>
					<input type="hidden" name="id" id="editMealId" />
					<input type="hidden" name="MealCreateVM.DieticianId" value="@Model.DieticianId" />
					<input type="hidden" name="MealCreateVM.ImageUrl" id="editMealImageUrl" />
					<div class="form-group">
						<label asp-for="MealCreateVM.Name" class="control-label"></label>
						<input id="editMealName" class="form-control" name="MealCreateVM.Name" />
						<span asp-validation-for="MealCreateVM.Name" class="text-danger"></span>
					</div>
					<div class="form-group">
						<label asp-for="MealCreateVM.Recipe" class="control-label"></label>
						<input id="editMealRecipe" class="form-control" name="MealCreateVM.Recipe" />
						<span asp-validation-for="MealCreateVM.Recipe" class="text-danger"></span>
					</div>
					<div class="form-group">
						<label asp-for="MealCreateVM.MealCategoryId" class="control-label"></label>
						<select id="editMealCategoryId" name="MealCreateVM.MealCategoryId" class="form-select">
							@foreach (var category in Model.MealCreateVM.AvailableCategories)
							{
								<option value="@category.Value">@category.Text</option>
							}
						</select>
						<span asp-validation-for="MealCreateVM.MealCategoryId" class="text-danger"></span>
					</div>
					<div class="form-group">
						<label for="imageUpload" class="control-label">Upload Image</label>
						<input type="file" name="imageUpload" class="form-control" id="imageUpload" accept="image/*" />
					</div>
					<div class="form-group form-check">
						<input type="checkbox" asp-for="MealCreateVM.SetAsPublic" class="form-check-input" id="setAsPublicCheckbox" />
						<label class="form-check-label" asp-for="MealCreateVM.SetAsPublic">Set as public</label>
						<span asp-validation-for="MealCreateVM.SetAsPublic" class="text-danger"></span>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary" id="confirmEditBtn">Edit</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

@section Scripts
{
	<script>
		$(function () {
			// DATATABLE INITIALIZE
			$('.table').DataTable();

			// SCRIPT TO HANDLE CLOSING MODALS
			$(document).on('click', '.close', function () {
				$(this).closest('.modal').modal('hide');
			});

			// SCRIPT TO HANDLE ADDING INGREDIENTS TO MEAL
			$(document).on('click', '.addBtn', function () {
				var btn = $(this);
				var addMealId = btn.data("addmealid");

				$('#addMealId').val(addMealId);

				$('#addIngredientModal').modal('show');
			});

			// SCRIPT TO HANDLE ADDING MEAL TO MEAL
			$(document).on('click', '#confirmAddBtn', function () {
				$('#addForm').submit();
			});

			// SCRIPT TO HANDLE CREATING INGREDIENTS
			$(document).on('click', '.createIngredientBtn', function () {
				var btn = $(this);
				var createIngredientDieticianId = btn.data("createingredientdieticianid");

				$('#createIngredientDieticianId').val(createIngredientDieticianId);

				$('#createIngredientModal').modal('show');
			});

			// SCRIPT TO HANDLE CREATING CONFIRMATION
			$(document).on('click', '#confirmCreateIngredientBtn', function () {
				$('#createForm').submit();
			});

			// SCRIPT TO HANDLE REMOVING INGREDIENT FROM MEAL
			$(document).on('click', '.removeBtn', function () {
				var btn = $(this);
				var removeIngredientMealId = btn.data("removeingredientmealid");
				var removeIngredientIndex = btn.data("removeingredientindex");
				var removeIngredientName = btn.data("removeingredientname");


				$('#removeIngredientMealId').val(removeIngredientMealId);
				$('#removeIngredientIndex').val(removeIngredientIndex);
				$('#removeIngredientName').text(removeIngredientName);

				$('#removeIngredientModal').modal('show');
			});

			// SCRIPT TO HANDLE REMOVING INGREDIENT FROM MEAL
			$(document).on('click', '#confirmRemoveBtn', function () {
				$('#removeForm').submit();
			});			
			
			
			// SCRIPT TO HANDLE EDITING MEAL
			$(document).on('click', '.editBtn', function () {
				var btn = $(this);
				var editMealId = btn.data("editmealid");
				var editMealId = btn.data("editmealid");
				var editMealName = btn.data("editmealname");
				var editMealRecipe = btn.data("editmealrecipe");
				var editMealCategoryId = btn.data("editmealcategoryid");
				var editMealImageUrl = btn.data("editmealimageurl");

				$('#editMealId').val(editMealId);
				$('#editMealId').val(editMealId);
				$('#editMealName').val(editMealName);
				$('#editMealRecipe').val(editMealRecipe);
				$('#editMealCategoryId').val(editMealCategoryId);
				$('#editMealImageUrl').val(editMealImageUrl);

				$('#editMealModal').modal('show');
			});

			// SCRIPT TO HANDLE EDITING MEAL
			$(document).on('click', '#confirmEditBtn', function () {
				$('#editForm').submit();
			});

			// SCRIPT TO HANDLE DELETING MEAL
			$(document).on('click', '.deleteBtn', function () {
				var btn = $(this);
				var deleteMealId = btn.data("deletemealid");
				var deleteMealName = btn.data("deletemealname");

				$('#deleteMealId').val(deleteMealId);
				$('#deleteMealName').text(deleteMealName);

				$('#deleteMealModal').modal('show');
			});

			// SCRIPT TO HANDLE DELETE CONFIRMATION
			$(document).on('click', '#confirmDeleteBtn', function () {
				$('#deleteForm').submit();
			});
		});
	</script>
}
