@using EliteAthleteApp.Models.User
@model UserChatVM

@{
	ViewData["Title"] = "Chat";
}

<div class="container">
	@for (int i = 0; i < Model.UserChatMessageVMs.Count(); i++)
	{
		if (i > 0)
		{
			if (Model.UserChatMessageVMs[i].Timestamp.Day != Model.UserChatMessageVMs[i - 1].Timestamp.Day)
			{
				<div class="text-center">
					@Model.UserChatMessageVMs[i].Timestamp.ToString("dd-MM-yyyy")
				</div>
			}

			if ((Model.UserChatMessageVMs[i].Timestamp - Model.UserChatMessageVMs[i - 1].Timestamp).TotalMinutes > 15)
			{
				if (Model.UserChatMessageVMs[i].UserId == Model.ViewerId)
				{
					<div class="text-center">
						<strong>@Model.UserChatMessageVMs[i].Timestamp.ToString("HH:mm")</strong>
					</div>
				}
				else
				{
					<div>
						<strong>@Model.UserChatMessageVMs[i].Timestamp.ToString("HH:mm")</strong>
					</div>
				}
			}
		}
		<div class="message">
			<div class="row">
				@if (Model.UserChatMessageVMs[i].UserId == Model.ViewerId)
				{
					<div class="text-end">
						<strong>@Model.UserChatMessageVMs[i].Content</strong>
					</div>
				}
				else
				{
					<div>
						<strong>@Model.UserChatMessageVMs[i].Content</strong>
					</div>
				}
			</div>
		</div>
	}
	<div class="mt-3">
		<ul id="discussion"></ul>
	</div>

	<div class="mt-5">
		<input type="text" id="message" />
		<input type="button" id="sendmessage" value="Send" />
	</div>
</div>


@section Scripts
{
	<script>
		$(document).ready(function () {
			console.log("SignalR initialization starting...");

			var connection = new signalR.HubConnectionBuilder().withUrl("/chat").build();

			connection.start()
				.then(function () {
					console.log("Połączenie SignalR nawiązane.");
				})
				.catch(function (err) {
					console.error("Połączenie z SignalR nieudane: ", err.toString());
				});

			document.getElementById("sendmessage").addEventListener("click", function (event) {
				var message = document.getElementById("message").value;
				var coachId = '@Model.CoachVM.Id';
				var userId = '@Model.UserVM.Id';
				var senderId = '@Model.ViewerId'

				connection.invoke("SendMessage", message, userId, coachId, senderId)
					.catch(function (err) {
						console.error("Błąd wysyłania wiadomości: ", err.toString());
					});

				event.preventDefault();
			});

			connection.on("ReceiveMessage", function (message, senderId, timestamp) {
				console.log("Nowa wiadomość: ", message);

				var divMessage = document.createElement("div");
				divMessage.classList.add("message");

				var divRow = document.createElement("div");
				divRow.classList.add("row");

				var divContent = document.createElement("div");
				if (senderId === '@Model.ViewerId') {
					divContent.classList.add("text-end");
				} else {
					divContent.classList.add("text-start");
				}

				divContent.innerHTML = `${message}`;

				divMessage.appendChild(divContent);
				divMessage.appendChild(divRow);

				document.getElementById("discussion").appendChild(divMessage);
			});
		});
	</script>
}
