@using EliteAthleteApp.Models.User

@model UserInfoVM

<div class="row">
	<div class="col-md-3">
		<div class="media-upload-box">
			@if (string.IsNullOrEmpty(Model.ImageUrl))
			{
				<form asp-action="UploadImage" enctype="multipart/form-data">
					<input type="hidden" name="userId" value="@Model.Id" />
					<label for="imageUpload" class="upload-icon">⬆</label>
					<input type="file" name="imageUpload" id="imageUpload" class="d-none" accept="image/*" />
					<div class="preview-thumbnail">
						<img id="previewImg" src="" class="img-thumbnail d-none" />
					</div>
					<button type="submit" class="remove-media">O</button>
				</form>
			}
			else
			{
				<form asp-action="DeleteImage">
					<input type="hidden" name="userId" value="@Model.Id" />
					<img src="@Model.ImageUrl" class="img-thumbnail" />
					<button type="submit" class="remove-media">X</button>
				</form>
			}
		</div>
	</div>
	<div class="col-md-3">
		<strong>First Name:</strong><p class="text-white">@Model.FirstName</p>
		<strong>Last Name:</strong> <p class="text-white">@Model.LastName</p>
		<strong>Date of Birth:</strong> <p class="text-white">@Model.DateOfBirth</p>
		<strong>Invite Code:</strong> <p class="text-white">
			@Model.InviteCode
			<a asp-action="ResetInviteCode" class="btn btn-sm btn-danger">Reset Code</a>
		</p>
		@if (Model.CoachFullName != null)
		{
			<strong>Coach:</strong> <p class="text-white">
				@Model.CoachFullName
				<a asp-action="DeleteCoach" class="btn btn-sm btn-danger">Delete Coach</a>
			</p>
		}
		@if (Model.NewCoachFullName != null)
		{
			<strong>You were invited by:</strong>
			<p class="text-white">
				@Model.NewCoachFullName
				<a asp-action="AcceptInvite" class="btn btn-sm btn-success me-2">Accept</a>
				<a asp-action="DeclineInvite" class="btn btn-sm btn-danger">Decline</a>
			</p>
		}
	</div>
</div>
