@using EliteAthleteApp.Models.User
@model List<UserVM>

<table class="table text-white table-dark" style="width:100%">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.First().FirstName)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.First().LastName)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.First().Email)
			</th>
			<th style="width:10%"></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.FirstName)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.LastName)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Email)
				</td>
				<td class="text-end">
					<div class="dropdown">
						<button class="btn btn-outline-primary-a btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
							<strong>Actions</strong>
						</button>
						<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
							<li>
								<button class="dropdown-item">
									<a asp-action="Panel" asp-controller="Home" asp-route-userId="@item.Id"><i class="fa-solid fa-list"></i> User Panel</a>
								</button>
							</li>
							<li>
								<button class="dropdown-item">
									<a asp-action="Chat" asp-route-userId="@item.Id" asp-controller="UserChats">Chat</a>
								</button>
							</li>
						</ul>
					</div>

				</td>
			</tr>
		}
	</tbody>
</table>



