@using EliteAthleteAppShared.Models.User
@model List<UserVM>

<table class="table text-white table-dark" style="width:100%">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.First().FirstName)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.First().LastName)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.First().Email)
			</th>
			<th style="width:10%"></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.FirstName)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.LastName)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Email)
				</td>
				<td class="text-end">
					<div class="dropdown">
						<button class="btn btn-outline-primary-a btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
							<strong>Actions</strong>
						</button>
						<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
							<li>
								<a class="dropdown-item" asp-action="Index" asp-controller="TrainingModules" asp-route-userId="@item.Id">
									<i class="fa-solid fa-dumbbell"> &nbsp; </i> Training Modules
								</a>
							</li>
							<li>
								<a class="dropdown-item" asp-action="UserChat" asp-controller="Users" asp-route-userId="@item.Id">
									<i class="bi bi-chat-dots"></i> Chat
								</a>
							</li>
							<li>
								<a class="dropdown-item" asp-action="UserPanel" asp-controller="Users" asp-route-userId="@item.Id">
									<i class="bi bi-person"></i> User Panel
								</a>
							</li>
						</ul>
					</div>
				</td>
			</tr>
		}
	</tbody>
</table>



