@using EliteAthleteApp.Models.TrainingExercise

@model TrainingExerciseMediaEditImagesVM

@{
	ViewData["Title"] = "EditImages";
}

<div class="row">
	@for (int i = 0; i < Model.ImageUrls.Count; i++)
	{
		<div class="col-md-4">
			<div class="media-upload-box">
				@if (!string.IsNullOrEmpty(Model.ImageUrls[i]))
				{
					<form asp-action="DeleteImage">
						<input type="hidden" name="id" value="@Model.Id" />
						<input type="hidden" name="index" value="@i" />
						<img src="@Model.ImageUrls[i]" class="img-thumbnail" />
						<button type="submit" class="remove-media">X</button>
					</form>
				}
				else
				{
					<form asp-action="UploadImage" enctype="multipart/form-data">
						<input type="hidden" name="id" value="@Model.Id" />
						<input type="hidden" name="index" value="@i" />
						<label for="imageUpload_@i" class="upload-icon">⬆</label>
						<input type="file" name="imageUpload" id="imageUpload_@i" class="d-none" accept="image/*" />

						<div id="thumbnailContainer_@i" class="thumbnail-container"></div> <!-- Kontener na miniaturkę -->
						<div id="fileNameDisplay_@i" class="file-name-display"></div> <!-- Kontener na nazwę pliku -->

						<button type="submit" class="remove-media">O</button>
					</form>
				}
			</div>
		</div>
	}
</div>
